<aside class="profile-page__aside sidebar">
  <ul class="sidebar__list">
    <li class="is-active"><a href="./profile.html">Профиль</a></li>
    <li><a href="./qr.html">Мои QR - Коды</a></li>
    <li><a href="./services.html">Доп. услуги</a></li>
    <li><a href="./responses.html">Отклики</a></li>
    <li><a href="./notifications.html">Уведомления</a></li>
  </ul>
</aside>