<footer class="footer-public">
  <div class="container">
    <div class="footer-public__inner">
      <div class="footer-public__text">
        Страница создана Ивановым Иваном на <a class="link" href="#">zgadaymene.com</a>
      </div>
    </div>
</footer>