<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__form">
        <p class="footer__form-title">Подпишитесь на уведомления</p>
        <form>
          <div class="footer__form-inner">
            <div class="footer__input-wrapper">
              <input class="footer__input" type="email" placeholder="Введите email" />
            </div>
            <button class="footer__btn btn-primary btn-primary--sm">Подписаться</button>
          </div>
        </form>
      </div>
      <div class="footer__body">
        <div class="footer__info">
          <a class="footer__logo" href="/">
            <img src="img/logo-white.svg" width="206" height="33" alt="Логотип Згадай мене" />
          </a>
          <div class="footer__text">
            <p>Описание</p>
          </div>
        </div>
        <nav class="footer__nav">
          <ul class="footer__list">
            <li><a href="/product.html">Магазин</a></li>
            <li><a href="/login.html">Кабинет</a></li>
            <li><a href="/about.html">О нас</a></li>
            <li><a href="/news.html">Новости</a></li>
            <li><a href="/contacts.html">Контакты</a></li>
            <li><a href="/policy.html">Политика конфиденциальности</a></li>
            <li><a href="/policy.html">Пользовательское соглашение</a></li>
            <li><a href="/policy.html">Условия предоставления услуг</a></li>
            <li><a href="/policy.html">Доставка и возврат</a></li>
          </ul>
        </nav>
      </div>
      <div class="footer__bottom">
        <ul class="footer__payments">
          <li><img src="img/visa.svg" width="64" height="40" alt="Visa" /></li>
          <li><img src="img/mastercard.svg" width="64" height="40" alt="Mastercard" /></li>
        </ul>
        <ul class="footer__socials">
          <li><a href="#" title="Связаться в Facebook" style="background-image: url('img/fb-icon.svg');"></a></li>
          <li><a href="#" title="Связаться в Instagram" style="background-image: url('img/insta-icon.svg');"></a></li>
          <li><a href="#" title="Связаться в Telegram" style="background-image: url('img/tg-icon.svg');"></a></li>
          <li><a href="#" title="Связаться в Whatsapp" style="background-image: url('img/whatsapp-icon.svg');"></a></li>
        </ul>
      </div>
    </div>
    <p class="footer__caption">Згадай мене 2024 © Все права защищены</p>
  </div>
</footer>