<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="header__logo" href="./">
        <img src="img/logo.svg" width="218" height="144" alt="Логотип Згадай мене" />
      </a>
    </div>
  </div>
</header>