<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="header__logo" href="./">
        <img src="img/logo.svg" width="218" height="144" alt="Логотип Згадай мене" />
      </a>
      <div class="header__menu menu">
        <nav class="header__nav nav">
          <ul class="header__list">
            <li class="is-active">
              <a href="./" data-title="Главная">Главная</a>
            </li>
            <li>
              <a href="./product.html" data-title="Магазин">Магазин</a>
            </li>
            <li>
              <a href="./login.html" data-title="Кабинет">Кабинет</a>
            </li>
            <li>
              <a href="./about.html" data-title="О нас">О нас</a>
            </li>
            <li>
              <a href="./news.html" data-title="Новости">Новости</a>
            </li>
            <li>
              <a href="./contacts.html" data-title="Контакты">Контакты</a>
            </li>
          </ul>
        </nav>
      </div>
      <a class="header__cart" href="./cart.html"></a>
      <button class="header__burger burger">
        <span></span>
      </button>
    </div>
  </div>
  <div class="header-overlay"></div>
</header>