<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="header__logo" href="/">
        <img src="img/logo.svg" width="218" height="144" alt="Логотип Згадай мене" />
      </a>
      <div class="header__menu menu">
        <nav class="header__nav nav">
          <ul class="header__list">
            <li class="is-active">
              <a href="/">Главная</a>
            </li>
            <li>
              <a href="/product.html">Магазин</a>
            </li>
            <li>
              <a href="/login.html">Кабинет</a>
            </li>
            <li>
              <a href="/about.html">О нас</a>
            </li>
            <li>
              <a href="/news.html">Новости</a>
            </li>
            <li>
              <a href="/contacts.html">Контакты</a>
            </li>
          </ul>
        </nav>
      </div>
      <a class="header__cart" href="/cart.html"></a>
      <a class="header__notifications" href="/notifications.html"></a>
      <a class="header__user" href="/login.html">
        <span class="header__user-name">Иван Иванов</span>
        <div class="header__user-avatar">
          <img src="img/user-icon.svg" width="32" height="32" alt="аватар пользователя" />
        </div>
      </a>
      <button class="header__burger burger">
        <span></span>
      </button>
    </div>
  </div>
  <div class="header-overlay"></div>
</header>