<script src="js/vendor.js"></script>
<script src="js/splide.min.js"></script>
<script src="js/overlayScrollbars.js"></script>
<script src="js/fslightbox.js"></script>
<script src="js/main.js"></script>