.btn-primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $yellow;
  border-radius: 16px;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 28px;
  line-height: normal;
  text-align: center;
  color: $carbon;
  background: $yellow;
  transition: $transition;
  cursor: pointer;

  i {
    margin-right: 4px;
  }

  &:focus,
  &:active {
    border-color: #d6c150;
    background-color: #d6c150;
  }

  &:disabled,
  &.is-disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  &--sm {
    padding: 16px;
    font-weight: 400;
    font-size: 20px;
  }

  &--xs {
    padding: 10px 20px;
    font-weight: 400;
    font-size: 20px;
  }

  @include hover {
    border-color: #d6c150;
    background-color: #d6c150;
  }
}

.btn-secondary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $carbon;
  border-radius: 16px;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 28px;
  line-height: normal;
  text-align: center;
  color: $yellow;
  background: $carbon;
  transition: $transition;
  cursor: pointer;

  i {
    margin-right: 4px;
  }

  &:focus,
  &:active {
    border-color: #202020;
    background-color: #202020;
  }

  &:disabled,
  &.is-disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  &--sm {
    padding: 16px;
    font-weight: 400;
    font-size: 20px;
  }

  &--xs {
    padding: 10px 20px;
    font-weight: 400;
    font-size: 20px;
  }

  @include hover {
    border-color: #202020;
    background-color: #202020;
  }
}

.btn-transparent {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 16px;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 28px;
  line-height: normal;
  text-align: center;
  color: $carbon;
  background: transparent;
  transition: color $transition;
  cursor: pointer;

  i {
    margin-right: 4px;
  }

  &:focus,
  &:active {
    color: $black;
  }

  &:disabled,
  &.is-disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  &--sm {
    padding: 16px;
    font-weight: 400;
    font-size: 20px;
  }

  &--xs {
    padding: 10px 20px;
    font-weight: 400;
    font-size: 20px;
  }

  @include hover {
    color: $black;
  }
}

.btn-outline {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $carbon;
  border-radius: 16px;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 28px;
  line-height: normal;
  text-align: center;
  color: $carbon;
  background: transparent;
  transition: background $transition;
  cursor: pointer;

  i {
    margin-right: 4px;
  }

  &:focus,
  &:active {
    background-color: #e3e3e3;
  }

  &:disabled,
  &.is-disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  &--sm {
    padding: 16px;
    font-weight: 400;
    font-size: 20px;
  }

  &--xs {
    padding: 10px 20px;
    font-weight: 400;
    font-size: 20px;
  }

  @include hover {
    background-color: #e3e3e3;
  }
}

.btn-danger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $red;
  border-radius: 16px;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 28px;
  line-height: normal;
  text-align: center;
  color: $red;
  background: transparent;
  transition: $transition;
  cursor: pointer;

  i {
    margin-right: 4px;
  }

  &:focus,
  &:active {
    background-color: rgba(255, 84, 84, 10%);
  }

  &:disabled,
  &.is-disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  &--sm {
    padding: 16px;
    font-weight: 400;
    font-size: 20px;
  }

  &--xs {
    padding: 10px 20px;
    font-weight: 400;
    font-size: 20px;
  }

  @include hover {
    background-color: rgba(255, 84, 84, 10%);
  }
}

.btn-close {
  display: block;
  outline: transparent;
  border: none;
  width: 24px;
  height: 24px;
  box-shadow: none;
  color: $midnight;
  background: 0;
  transition: $transition;
  cursor: pointer;

  &::before,
  &::after {
    content: " ";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 2px;
    height: 16px;
    background-color: currentcolor;
    transform: translate(-50%, -50%);
    transform-origin: center;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  @include hover {
    color: $carbon;
  }
}

.link {
  border-bottom: 1px solid currentcolor;
  color: $yellow;
  transition: color $transition, border-color $transition;

  @include hover {
    color: #e7d154;
  }
}

@media (max-width: 1440px) {
  .btn-danger,
  .btn-primary,
  .btn-outline,
  .btn-secondary,
  .btn-transparent {
    font-size: 24px;

    &--sm {
      font-size: 18px;
    }

    &--xs {
      font-size: 18px;
    }
  }
}

@media (max-width: $menu-breakpoint) {
  .btn-danger,
  .btn-primary,
  .btn-outline,
  .btn-secondary,
  .btn-transparent {
    font-size: 20px;

    &--sm {
      font-size: 16px;
    }

    &--xs {
      font-size: 16px;
    }
  }
}