.form-control {
  display: block;
  outline: none;
  border: 1px solid #e5e5e5;
  border-radius: 16px;
  padding: 22px 24px;
  width: 100%;
  font-size: 28px;
  color: $carbon;
  background-color: $substrate;
  transition: border $transition;
  resize: none;

  &::placeholder {
    color: rgba($carbon, 0.5);
    opacity: 1;
  }

  &:focus,
  &:active {
    border-color: $midnight;
  }

  &.is-disabled {
    color: rgba($carbon, 0.5);
  }

  &.is-invalid {
    border-color: $red;
  }

  &.is-valid {
    border-color: $green;
  }

  &--sm {
    padding: 9px 12px;
    width: auto;
    font-size: 20px;
  }
}

.form-error {
  color: $red;
}

.form-radio-icons {
  @include grid(3, 14px);

  &__item {
    cursor: pointer;

    input {
      @include visually-hidden;

      &:checked ~ .form-radio-icons__body {
        border: 2px solid $yellow;
      }
    }
  }

  &__body {
    @include flex-center;

    border: 2px solid transparent;
    border-radius: 12px;
    padding: 8px 16px;
    min-height: 80px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 20%);
    background-color: $background;
    transition: border  $transition;
  }
}

.form-select {
  all: unset;
  margin: -12px;
  padding: 12px;
  color: $carbon;
  background: transparent;
  cursor: pointer;

  option {
    font-size: 16px;
  }
}

.form-password {
  position: relative;

  &__btn {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 32px;
    height: 32px;
    background: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.5' d='M2.66699 15.9999C2.66699 18.1858 3.23361 18.9219 4.36685 20.3942C6.62961 23.3338 10.4245 26.6666 16.0003 26.6666C21.5762 26.6666 25.371 23.3338 27.6338 20.3942C28.767 18.9219 29.3337 18.1858 29.3337 15.9999C29.3337 13.8141 28.767 13.078 27.6338 11.6057C25.371 8.666 21.5762 5.33325 16.0003 5.33325C10.4245 5.33325 6.62961 8.666 4.36685 11.6057C3.23361 13.078 2.66699 13.8141 2.66699 15.9999Z' fill='%23575965'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 16C11 13.2386 13.2386 11 16 11C18.7615 11 21 13.2386 21 16C21 18.7615 18.7615 21 16 21C13.2386 21 11 18.7615 11 16ZM13 16C13 14.3432 14.3432 13 16 13C17.6568 13 19 14.3432 19 16C19 17.6568 17.6568 19 16 19C14.3432 19 13 17.6568 13 16Z' fill='%23575965'/%3E%3C/svg%3E%0A") center/  cover no-repeat;
    transition: background $transition;
  }

  &.is-show {
    .form-password__btn {
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.89111 8.80636C3.6005 8.13061 2.81737 7.81781 2.14105 8.10767C1.46421 8.39773 1.15116 9.18269 1.44124 9.85953L1.44181 9.86087L1.44324 9.86419L1.44722 9.87336L1.45974 9.90173C1.4701 9.92504 1.48452 9.95703 1.50304 9.99712C1.54006 10.0773 1.59353 10.19 1.66381 10.3305C1.80428 10.6114 2.01248 11.0049 2.2914 11.4735C2.83664 12.3895 3.66006 13.6059 4.78673 14.8323L3.72347 15.8955C3.20277 16.4162 3.20277 17.2604 3.72347 17.7811C4.24417 18.3018 5.08839 18.3018 5.60909 17.7811L6.72962 16.6606C7.48294 17.2688 8.32507 17.842 9.25857 18.336L8.21537 19.9394C7.81375 20.5566 7.98854 21.3824 8.60577 21.7842C9.22298 22.1858 10.0489 22.011 10.4505 21.3938L11.7641 19.3748C12.6665 19.6516 13.6334 19.8487 14.6663 19.941V21.9999C14.6663 22.7363 15.2633 23.3332 15.9997 23.3332V17.3332C12.336 17.3332 9.57437 15.7351 7.59478 13.8814C7.58398 13.871 7.57305 13.8607 7.56198 13.8506C7.29733 13.6014 7.04677 13.3475 6.81001 13.0926C5.80553 12.0108 5.06817 10.9249 4.58283 10.1095C4.34093 9.70312 4.1637 9.36744 4.04895 9.13795C3.99163 9.02329 3.95005 8.93545 3.92393 8.87889C3.91086 8.85063 3.90169 8.8302 3.89634 8.81819L3.89111 8.80636ZM1.44124 9.85953L2.66628 9.33319C1.44076 9.85841 1.44124 9.85953 1.44124 9.85953Z' fill='%23333333'/%3E%3Cpath opacity='0.5' d='M20.2945 16.5312C19.0379 17.0259 17.612 17.3336 16 17.3336V23.3336C16.7364 23.3336 17.3333 22.7367 17.3333 22.0003V19.9412C18.3627 19.8489 19.3299 19.6523 20.2352 19.3748L21.5491 21.3941C21.9507 22.0113 22.7767 22.1861 23.3939 21.7845C24.0111 21.3829 24.1859 20.5569 23.7843 19.9397L22.7411 18.3365C23.676 17.8421 24.518 17.2689 25.2703 16.6613L26.3905 17.7815C26.9112 18.3023 27.7555 18.3023 28.2761 17.7815C28.7968 17.2608 28.7968 16.4165 28.2761 15.8959L27.2129 14.8327C28.2028 13.7552 28.9575 12.6867 29.4943 11.8252C29.8453 11.2617 30.1065 10.7815 30.2821 10.4372C30.37 10.265 30.4365 10.1263 30.4825 10.0279C30.5055 9.97862 30.5232 9.93937 30.536 9.91093L30.5512 9.87648L30.556 9.8655L30.5588 9.85881C30.8489 9.18197 30.5353 8.39813 29.8585 8.10806C29.1819 7.81806 28.398 8.13189 28.1079 8.80836L28.1012 8.82329C28.0941 8.83901 28.0823 8.8652 28.0656 8.90106C28.0321 8.97282 27.9792 9.08313 27.9065 9.22571C27.7609 9.51116 27.5368 9.92413 27.2311 10.4149C26.6171 11.4003 25.6869 12.6781 24.4208 13.8665C23.2995 14.9191 21.9292 15.8877 20.2945 16.5312Z' fill='%23333333'/%3E%3C/svg%3E%0A");
    }
  }
}

.form-edit {
  position: relative;

  &__btn {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 28px;
    height: 28px;
    background: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_253_3817)'%3E%3Cpath d='M25.0721 2.92694C22.02 -0.142295 19.036 -0.2105 15.8985 2.92694L13.9718 4.83668C13.8012 5.00719 13.7501 5.24591 13.8183 5.46758C15.0119 9.64514 18.3539 12.9872 22.5315 14.1808C22.5827 14.1978 22.6679 14.1978 22.7191 14.1978C22.8896 14.1978 23.0601 14.1296 23.1794 14.0103L25.0721 12.1005C26.6238 10.5489 27.3911 9.0654 27.3911 7.54783C27.3911 6.01322 26.6238 4.49565 25.0721 2.92694Z' fill='%23333333'/%3E%3Cpath d='M19.6832 15.6134C19.2228 15.3917 18.7795 15.1701 18.3703 14.9143C18.0292 14.7097 17.6882 14.4881 17.3642 14.2494C17.0914 14.0789 16.7845 13.8231 16.4776 13.5673C16.4435 13.5503 16.3412 13.465 16.2047 13.3286C15.6762 12.9023 15.1135 12.3226 14.5849 11.6917C14.5508 11.6576 14.4485 11.5553 14.3632 11.4018C14.1927 11.2142 13.9369 10.8903 13.7153 10.5322C13.5277 10.2935 13.306 9.95244 13.1014 9.59437C12.8456 9.16808 12.624 8.7418 12.4194 8.29847C12.1977 7.82103 12.0272 7.3777 11.8737 6.95142L2.70016 16.1249C2.10337 16.7217 1.52363 17.8471 1.40427 18.6826L0.671061 23.7639C0.5176 24.8381 0.807472 25.8442 1.47247 26.5092C2.03516 27.0719 2.80247 27.3617 3.65504 27.3617C3.8426 27.3617 4.03016 27.3447 4.21773 27.3276L9.28192 26.6115C10.1174 26.4921 11.2428 25.9294 11.8396 25.3156L21.0132 16.142C20.5869 16.0056 20.1606 15.818 19.6832 15.6134Z' fill='%23333333'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_253_3817'%3E%3Crect width='28' height='28' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") center /  cover no-repeat;
  }
}

.form-check {
  display: flex;
  align-items: center;
  cursor: pointer;

  input {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);

    &:checked ~ .form-check__box::before {
      opacity: 1;
    }
  }

  &__box {
    position: relative;
    display: block;
    margin-right: 10px;
    border-radius: 8px;
    width: 24px;
    height: 24px;
    background-color: $white;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border: 4px solid $carbon;
      border-radius: 8px;
      width: 100%;
      height: 100%;
      background-color: $yellow;
      opacity: 0;
      transition: $transition;
    }
  }
}

.form-label {
  display: block;

  &__text {
    display: block;
    margin-bottom: 3px;
    color: $carbon;
  }
}

.form-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  cursor: pointer;
  user-select: none;

  &__caption {
    font-weight: 500;
    font-size: 28px;
    color: $carbon;
  }

  &__content {
    display: block;

    input {
      @include visually-hidden;

      &:checked ~ .form-toggle__element {
        background-color: $carbon;

        &::before {
          background-color: $yellow;
          transform: translateY(-50%) translateX(18px);
        }
      }
    }
  }

  &__element {
    position: relative;
    display: block;
    flex-shrink: 0;
    border-radius: 20px;
    width: 40px;
    height: 22px;
    background-color: $white;
    transition: background $transition;

    &::before {
      content: "";
      position: absolute;
      left: 2px;
      top: 50%;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 40%);
      background-color: $midnight;
      transform: translateY(-50%);
      transition: transform $transition, background $transition;
    }
  }
}

.form-radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;

  input {
    &:checked ~ .form-radio__element {
      border-color: $carbon;
      background-color: $yellow;
    }

    &[type="radio"] {
      @include visually-hidden;
    }
  }

  &__element {
    display: block;
    margin-right: 8px;
    border: 4px solid $white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: $white;
    transition: border-color $transition, background-color $transition;
  }
}

.form-datepicker {
  position: relative;

  &__input {
    cursor: pointer;

    &:focus ~ .form-datepicker__icon,
    &:active ~ .form-datepicker__icon {
      opacity: 0.5;
    }
  }

  &__icon {
    position: absolute;
    right: 24px;
    top: 50%;
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.2511 2.6665C9.80558 2.6665 10.2551 3.09878 10.2551 3.63202V5.57966C11.1456 5.56305 12.1438 5.56305 13.267 5.56305H18.6215C19.7446 5.56305 20.7429 5.56305 21.6334 5.57966V3.63202C21.6334 3.09878 22.0829 2.6665 22.6374 2.6665C23.1918 2.6665 23.6414 3.09878 23.6414 3.63202V5.66509C25.5681 5.81346 26.833 6.17761 27.7622 7.07129C28.6915 7.96497 29.0702 9.18138 29.2245 11.0343L29.3307 11.9998H3.89681H2.66406V11.0343C2.81834 9.18138 3.197 7.96497 4.12626 7.07129C5.05554 6.17761 6.32041 5.81346 8.24713 5.66509V3.63202C8.24713 3.09878 8.69662 2.6665 9.2511 2.6665Z' fill='%23333333'/%3E%3Cpath opacity='0.5' d='M29.3312 18.6668V16.0001C29.3312 14.8813 29.3269 12.887 29.3097 12H2.67741C2.6602 12.887 2.66456 14.8813 2.66456 16.0001V18.6668C2.66456 23.6951 2.66456 26.2092 4.22665 27.7713C5.78874 29.3335 8.3029 29.3335 13.3312 29.3335H18.6645C23.6929 29.3335 26.207 29.3335 27.7692 27.7713C29.3312 26.2092 29.3312 23.6951 29.3312 18.6668Z' fill='%23333333'/%3E%3Cpath d='M24.0026 22.6668C24.0026 23.4032 23.4057 24.0002 22.6693 24.0002C21.9329 24.0002 21.3359 23.4032 21.3359 22.6668C21.3359 21.9304 21.9329 21.3335 22.6693 21.3335C23.4057 21.3335 24.0026 21.9304 24.0026 22.6668Z' fill='%23333333'/%3E%3Cpath d='M24.0026 17.3333C24.0026 18.0697 23.4057 18.6667 22.6693 18.6667C21.9329 18.6667 21.3359 18.0697 21.3359 17.3333C21.3359 16.5969 21.9329 16 22.6693 16C23.4057 16 24.0026 16.5969 24.0026 17.3333Z' fill='%23333333'/%3E%3Cpath d='M17.3307 22.6668C17.3307 23.4032 16.7338 24.0002 15.9974 24.0002C15.261 24.0002 14.6641 23.4032 14.6641 22.6668C14.6641 21.9304 15.261 21.3335 15.9974 21.3335C16.7338 21.3335 17.3307 21.9304 17.3307 22.6668Z' fill='%23333333'/%3E%3Cpath d='M17.3307 17.3333C17.3307 18.0697 16.7338 18.6667 15.9974 18.6667C15.261 18.6667 14.6641 18.0697 14.6641 17.3333C14.6641 16.5969 15.261 16 15.9974 16C16.7338 16 17.3307 16.5969 17.3307 17.3333Z' fill='%23333333'/%3E%3Cpath d='M10.6667 22.6668C10.6667 23.4032 10.0697 24.0002 9.33333 24.0002C8.59696 24.0002 8 23.4032 8 22.6668C8 21.9304 8.59696 21.3335 9.33333 21.3335C10.0697 21.3335 10.6667 21.9304 10.6667 22.6668Z' fill='%23333333'/%3E%3Cpath d='M10.6667 17.3333C10.6667 18.0697 10.0697 18.6667 9.33333 18.6667C8.59696 18.6667 8 18.0697 8 17.3333C8 16.5969 8.59696 16 9.33333 16C10.0697 16 10.6667 16.5969 10.6667 17.3333Z' fill='%23333333'/%3E%3C/svg%3E%0A") center / cover no-repeat;
    transform: translateY(-50%);
    transition: opacity $transition;
    pointer-events: none;
  }
}

@media (max-width: 1440px) {
  .form-control {
    font-size: 24px;

    &--sm {
      font-size: 20px;
    }
  }

  .form-toggle {
    &__caption {
      font-size: 24px;
    }
  }
}

@media (max-width: $menu-breakpoint) {
  .form-control {
    font-size: 20px;

    &--sm {
      font-size: 18px;
    }
  }

  .form-toggle {
    &__caption {
      font-size: 20px;
    }
  }
}

@media (max-width: 768px) {
  .form-control {
    border-radius: 12px;
    padding: 12px;
    font-size: 16px;
  }

  .form-toggle {
    &__caption {
      font-size: 16px;
    }
  }
}