.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgba($carbon, 0.4);
  opacity: 0;
  transition: $transition;

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    height: var(--window-height);
  }

  &__inner {
    position: relative;
    overflow: auto;
    margin: auto;
    border: 1px solid #e5e5e5;
    border-radius: var(--border-radius);
    padding: 24px 60px;
    width: 100%;
    max-width: 592px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 25%);
    background-color: $background;
    transform: translateY(60px);
    transition: transform $transition;
    scrollbar-color: $carbon;
    scrollbar-width: thin;
  }

  &__close {
    position: absolute;
    right: 24px;
    top: 24px;
    outline: transparent;
    cursor: pointer;
  }

  &[aria-hidden="true"] {
    display: none;
  }

  &[aria-hidden="false"] {
    display: block;
  }

  &.is-open {
    opacity: 1;

    .modal__inner {
      transform: translateY(0);
    }
  }
}

.modal-profile {
  &__title {
    margin-bottom: 24px;
    text-align: center;
  }

  &__btn-wrapper {
    margin-top: 20px;
    text-align: center;
  }

  &__items {
    margin-bottom: 12px;
  }

  &__error {
    margin-bottom: 20px;
  }

  &__item {
    @include mb(20px);
  }
}

.modal-save {
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    margin-bottom: 20px;
    text-align: center;
  }

  &__inner {
    padding: 24px 32px;
  }
}

.modal-add-review {
  &__inner {
    padding: 24px 40px;
    max-width: 480px;
  }

  &__title {
    margin-bottom: 24px;
    text-align: center;
  }

  &__item {
    @include mb(20px);
  }

  &__btn-wrapper {
    margin-top: 24px;
    text-align: center;
  }

  &__error {
    margin-top: 12px;
  }
}

.modal-review {
  &__inner {
    padding: 24px 40px;
    max-width: 820px;
  }

  &__title {
    margin-bottom: 20px;
    text-align: center;
  }

  &__text {
    margin-bottom: 24px;
    border: 1px solid #e5e5e5;
    border-radius: 16px;
    padding: 24px;
    font-size: 28px;
    color: rgba($carbon, 0.5);
    background-color: $substrate;

    p {
      @include mb(15px);
    }
  }

  &__btn-wrapper {
    text-align: center;
  }
}

.modal-album {
  &__inner {
    padding: 24px 44px;
    max-width: 824px;
  }

  &__title {
    margin-bottom: 20px;
    text-align: center;
  }

  &__page {
    display: none;

    &.is-active {
      display: block;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__name {
    margin-bottom: 20px;
  }

  &__items {
    @include grid(5, 16px);
  }

  &__caption {
    margin-bottom: 24px;
  }

  &__subtitle {
    margin-bottom: 6px;
  }

  &__body {
    margin-right: -20px;
    padding-right: 30px;
    max-height: 500px;
  }

  &__btn {
    @include mr(16px);
  }

  &__new {
    display: none;
    margin-bottom: 44px;

    &.is-active {
      display: block;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
    text-align: center;
    background-color: $background;
  }
}

.modal-response-delete {
  &__inner {
    padding: 24px 32px;
    max-width: 592px;
  }

  &__title {
    margin-bottom: 24px;
    text-align: center;
  }

  &__buttons {
    display: flex;
    justify-content: center;
  }

  &__btn {
    @include mr(16px);
  }
}