.os-scrollbar-vertical {
  right: 8px;
}

.os-host-resize-disabled.os-host-scrollbar-horizontal-hidden > .os-scrollbar-vertical {
  top: 16px;
}

.os-theme-dark > .os-scrollbar-vertical,
.os-theme-light > .os-scrollbar-vertical {
  width: 8px;
}

.os-theme-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
  background-color: #575965;
}

.os-theme-dark .os-scrollbar-horizontal > .os-scrollbar-track > .os-scrollbar-handle.active,
.os-theme-light .os-scrollbar-horizontal > .os-scrollbar-track > .os-scrollbar-handle.active,
.os-theme-dark .os-scrollbar-horizontal > .os-scrollbar-track > .os-scrollbar-handle:hover,
.os-theme-light .os-scrollbar-horizontal > .os-scrollbar-track > .os-scrollbar-handle:hover {
  background-color: #575965;
}