.tip {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.5' d='M12 22C7.28595 22 4.92893 22 3.46447 20.5355C2 19.0711 2 16.714 2 12C2 7.28595 2 4.92893 3.46447 3.46447C4.92893 2 7.28595 2 12 2C16.714 2 19.0711 2 20.5355 3.46447C22 4.92893 22 7.28595 22 12C22 16.714 22 19.0711 20.5355 20.5355C19.0711 22 16.714 22 12 22Z' fill='%23575965'/%3E%3Cpath d='M12 7.75C11.3787 7.75 10.875 8.25368 10.875 8.875C10.875 9.28921 10.5392 9.625 10.125 9.625C9.71079 9.625 9.375 9.28921 9.375 8.875C9.375 7.42525 10.5503 6.25 12 6.25C13.4497 6.25 14.625 7.42525 14.625 8.875C14.625 9.58584 14.3415 10.232 13.883 10.704C13.7907 10.7989 13.7027 10.8869 13.6187 10.9708C13.4029 11.1864 13.2138 11.3753 13.0479 11.5885C12.8289 11.8699 12.75 12.0768 12.75 12.25V13C12.75 13.4142 12.4142 13.75 12 13.75C11.5858 13.75 11.25 13.4142 11.25 13V12.25C11.25 11.5948 11.555 11.0644 11.8642 10.6672C12.0929 10.3733 12.3804 10.0863 12.6138 9.85346C12.6842 9.78321 12.7496 9.71789 12.807 9.65877C13.0046 9.45543 13.125 9.18004 13.125 8.875C13.125 8.25368 12.6213 7.75 12 7.75Z' fill='%23575965'/%3E%3Cpath d='M12 17C12.5523 17 13 16.5523 13 16C13 15.4477 12.5523 15 12 15C11.4477 15 11 15.4477 11 16C11 16.5523 11.4477 17 12 17Z' fill='%23575965'/%3E%3C/svg%3E%0A") center / cover no-repeat;

  &::before {
    content: attr(data-text);
    position: absolute;
    left: 50%;
    bottom: calc(100% + 10px);
    z-index: 3;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    padding: 4px 8px;
    width: max-content;
    max-width: 612px;
    font-size: 16px;
    color: $carbon;
    background-color: $substrate;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) translateY(-10px);
    transition: $transition;
    pointer-events: none;
  }

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: calc(100% + 3px);
    z-index: 3;
    width: 17px;
    height: 8px;
    background: url("data:image/svg+xml,%3Csvg width='17' height='8' viewBox='0 0 17 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.51401 5.90685L1.2225 1.3867L1.18402 1.35383C0.888763 1.10145 0.684296 0.926704 0.449341 0.799911C0.241608 0.687809 0.019043 0.605698 -0.2117 0.556015C-0.472687 0.499821 -0.741577 0.499889 -1.12997 0.499992L-1.18069 0.5H-259.4C-261.088 0.5 -262.325 0.499611 -263.3 0.419914C-264.27 0.340698 -264.937 0.185616 -265.497 -0.0994644C-266.532 -0.62677 -267.373 -1.46816 -267.901 -2.50305C-268.186 -3.06255 -268.341 -3.73034 -268.42 -4.69993C-268.5 -5.67536 -268.5 -6.91159 -268.5 -8.6V-36.4C-268.5 -38.0884 -268.5 -39.3246 -268.42 -40.3001C-268.341 -41.2697 -268.186 -41.9374 -267.901 -42.4969C-267.373 -43.5318 -266.532 -44.3732 -265.497 -44.9005C-264.937 -45.1856 -264.27 -45.3407 -263.3 -45.4199C-262.325 -45.4996 -261.088 -45.5 -259.4 -45.5H333.4C335.088 -45.5 336.325 -45.4996 337.3 -45.4199C338.27 -45.3407 338.937 -45.1856 339.497 -44.9005C340.532 -44.3732 341.373 -43.5318 341.901 -42.497C342.186 -41.9375 342.341 -41.2697 342.42 -40.3001C342.5 -39.3246 342.5 -38.0884 342.5 -36.4V-8.6C342.5 -6.91159 342.5 -5.67536 342.42 -4.69992C342.341 -3.73033 342.186 -3.06255 341.901 -2.50304C341.373 -1.46817 340.532 -0.62677 339.497 -0.0994644C338.937 0.185616 338.27 0.340698 337.3 0.419914C336.325 0.499611 335.088 0.5 333.4 0.5H18.117L18.069 0.499992C17.701 0.499901 17.4462 0.49984 17.1978 0.550579C16.9781 0.595459 16.7654 0.669685 16.5656 0.771252C16.3395 0.88612 16.14 1.04477 15.852 1.27387L15.8145 1.30368L9.94785 5.96743C9.57455 6.26421 9.31564 6.4696 9.10013 6.61617C8.8898 6.75921 8.74973 6.82558 8.62305 6.85901C8.35477 6.92983 8.07208 6.92484 7.80649 6.8446C7.68109 6.80672 7.54343 6.73546 7.33832 6.58509C7.12811 6.431 6.87662 6.21661 6.51401 5.90685Z' fill='%23F9F9F9' stroke='%23E5E5E5'/%3E%3C/svg%3E%0A") bottom no-repeat;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) translateY(-10px);
    transition: $transition;
    pointer-events: none;
  }

  &.is-active {
    &::before,
    &::after {
      opacity: 1;
      visibility: visible;
      transform: translateX(-50%) translateY(0);
      pointer-events: all;
    }
  }

  @include hover {
    &::before,
    &::after {
      opacity: 1;
      visibility: visible;
      transform: translateX(-50%) translateY(0);
      pointer-events: all;
    }
  }
}

@media (max-width: $menu-breakpoint) {
  .tip {
    &::before {
      left: -4px;
      max-width: 300px;
      font-size: 14px;
    }

    &::before,
    &::after {
      transform: translateY(-10px);
    }

    &::after {
      left: 4px;
    }

    &.is-active {
      &::before,
      &::after {
        transform: translateY(-10px);
      }
    }
  }
}

@media (max-width: 768px) {
  .tip {
    &::before {
      padding: 10px;
      max-width: 180px;
      font-size: 12px;
    }
  }
}

@media (max-width: 580px) {
  .tip {
    &::before {
      left: calc(100% + 10px);
      top: 7px;
      bottom: auto;
    }

    &::after {
      left: calc(100% + -1px);
      top: 9px;
      transform: translateY(-10px) rotate(90deg);
    }

    &.is-active {
      &::after {
        transform: translateY(0) rotate(90deg);
      }
    }
  }
}

@media (max-width: 385px) {
  .tip {
    &::before {
      padding: 5px;
      max-width: 120px;
    }
  }
}