{% extends "../templates/layouts/layout.njk" %}

{% block content %}
{% include "../blocks/hero.njk" %}
{% include "../blocks/benefits.njk" %}
{% include "../blocks/general.njk" %}
{% include "../blocks/steps.njk" %}
{% include "../blocks/banner.njk" %}
{% include "../blocks/reviews.njk" %}
{% include "../blocks/news.njk" %}
{% include "../blocks/seo.njk" %}
{% endblock content %}