{% extends "../templates/layouts/layout-profile.njk" %}
{% block header %}
<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="header__logo" href="./">
        <img src="img/logo.svg" width="218" height="144" alt="Логотип Згадай мене" />
      </a>
      <div class="header__menu menu">
        <nav class="header__nav nav">
          <ul class="header__list">
            <li class="is-active">
              <a href="./">Главная</a>
            </li>
            <li>
              <a href="./product.html">Магазин</a>
            </li>
            <li>
              <a href="./login.html">Кабинет</a>
            </li>
            <li>
              <a href="./about.html">О нас</a>
            </li>
            <li>
              <a href="./news.html">Новости</a>
            </li>
            <li>
              <a href="./contacts.html">Контакты</a>
            </li>
          </ul>
        </nav>
      </div>
      <a class="header__cart" href="./cart.html"></a>
      <a class="header__notifications header-notifications is-active" href="./notifications.html">
        <span>2</span>
        <div class="header-notifications__dropdown">
          <ul class="header-notifications__list">
            <li class="header-notifications__item header-notifications__item--new">
              <div class="header-notifications__img">
                <img src="img/news.jpg" width="56" height="56" alt="" />
              </div>
              <div class="header-notifications__info">
                <p class="header-notifications__time">01.01.2000 14:45</p>
                <p class="header-notifications__text">Статус заказа изменен на “Успешно”</p>
              </div>
            </li>
            <li class="header-notifications__item header-notifications__item--new">
              <div class="header-notifications__img">
                <img src="img/news.jpg" width="56" height="56" alt="" />
              </div>
              <div class="header-notifications__info">
                <p class="header-notifications__time">01.01.2000 14:45</p>
                <p class="header-notifications__text">Статус заказа изменен на “Успешно”</p>
              </div>
            </li>
            <li class="header-notifications__item header-notifications__item--new">
              <div class="header-notifications__img">
                <img src="img/media-1.jpg" width="56" height="56" alt="" />
              </div>
              <div class="header-notifications__info">
                <p class="header-notifications__time">01.01.2000 14:45</p>
                <p class="header-notifications__text">Статус заказа изменен на “Успешно”</p>
              </div>
            </li>
            <li class="header-notifications__item header-notifications__item--new">
              <div class="header-notifications__img">
                <img src="img/news.jpg" width="56" height="56" alt="" />
              </div>
              <div class="header-notifications__info">
                <p class="header-notifications__time">Услуга “Улучшение качества фотографий и видео” готова</p>
                <p class="header-notifications__text">Статус заказа изменен на “Успешно”</p>
              </div>
            </li>
            <li class="header-notifications__item header-notifications__item--new">
              <div class="header-notifications__img">
                <img src="img/news.jpg" width="56" height="56" alt="" />
              </div>
              <div class="header-notifications__info">
                <p class="header-notifications__time">01.01.2000 14:45</p>
                <p class="header-notifications__text">Статус заказа изменен на “Успешно”</p>
              </div>
            </li>
          </ul>
        </div>
      </a>
      <a class="header__user" href="./login.html">
        <span class="header__user-name">Иван Иванов</span>
        <div class="header__user-avatar">
          <img src="img/user-icon.svg" width="32" height="32" alt="аватар пользователя" />
        </div>
      </a>
      <button class="header__burger burger">
        <span></span>
      </button>
    </div>
  </div>
  <div class="header-overlay"></div>
</header>
{% endblock header %}
{% block aside %}
<aside class="profile-page__aside sidebar">
  <ul class="sidebar__list">
    <li>
      <a href="./profile.html">Профиль</a>
    </li>
    <li>
      <a href="./qr.html">Мои QR - Коды</a>
    </li>
    <li>
      <a href="./services.html">Доп. услуги</a>
    </li>
    <li>
      <a href="./responses.html">Отклики <span>+1</span></a>
    </li>
    <li class="is-active">
      <a href="./notifications.html">Уведомления</a>
    </li>
  </ul>
</aside>
{% endblock aside %}
{% block content %}
{% include "../blocks/profile/notifications.njk" %}
{% endblock content %}