{% extends "../templates/layouts/layout.njk" %}
{% block content %}
<div class="text-section">
  <div class="container">
    <div> <a href="./index.html">Главная</a></div>
    <div> <a href="./order.html">Оформление заказа</a></div>
    <div> <a href="./order-done.html">Заказ оформлен</a></div>
    <div> <a href="./product.html">Магазин</a></div>
    <div> <a href="./reviews.html">Отзывы</a></div>
    <div> <a href="./cart.html">Корзина</a></div>
    <div> <a href="./login.html">Кабинет пользователя вход</a></div>
    <div> <a href="./about.html">О нас</a></div>
    <div> <a href="./news.html">Новости</a></div>
    <div> <a href="./article.html">Статья</a></div>
    <div> <a href="./contacts.html">Контакты</a></div>
    <div> <a href="./text.html">Текстовая</a></div>
    <!-- <button data-modal-open="modal-1">Open modal</button> -->
    {% for i in range(0, 10) -%}
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis cupiditate assumenda placeat fuga libero
      quisquam quidem, quam ipsum eum deleniti magni pariatur similique odit ad eaque ipsam maiores commodi facere?
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis cupiditate assumenda placeat fuga libero
      quisquam quidem, quam ipsum eum deleniti magni pariatur similique odit ad eaque ipsam maiores commodi facere?
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis cupiditate assumenda placeat fuga libero
      quisquam quidem, quam ipsum eum deleniti magni pariatur similique odit ad eaque ipsam maiores commodi facere?
    </p>
    {%- endfor %}
  </div>
</div>
{% endblock content %}