.about {
  padding-top: 0;

  &__inner {
    color: $carbon;
  }

  &__title {
    margin-bottom: 18px;
  }

  &__img {
    img {
      border-radius: var(--border-radius);
      width: 100%;
      object-fit: cover;
    }
  }

  &__box {
    @include mb(44px);
  }

  &__row {
    display: flex;
    margin: 0 -20px;
  }

  &__col {
    margin: 0 20px;
  }

  &__col-img {
    display: flex;
    flex: calc(440px - 20px) 1 1;
    flex-direction: column;
    aspect-ratio: 440 / 260;

    img {
      flex-grow: 1;
      border-radius: var(--border-radius);
      width: 100%;
      object-fit: cover;
    }
  }

  &__col-info {
    flex: calc(640px - 20px) 1 1;
  }

  &__text {
    @include mb(24px);

    font-size: 28px;
  }

  &__video {
    @include aspect-ratio(1120px, 502px);

    display: block;
    border-radius: var(--border-radius);

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
      width: 99px;
      height: 118px;
      background: url("data:image/svg+xml,%3Csvg width='99' height='118' viewBox='0 0 99 118' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.8' d='M90.7078 43.3796C101.764 50.1883 101.764 67.8117 90.7078 74.6204L23.9501 115.726C13.2046 122.342 0 113.73 0 100.107V17.8934C0 4.27013 13.2046 -4.34198 23.9501 2.27395L90.7078 43.3796Z' fill='%23F9F9F9'/%3E%3C/svg%3E%0A") center / cover no-repeat;
      transform: translate(-50%, -50%);
    }

    img {
      transition: transform $transition;
    }

    @include hover {
      img {
        transform: scale(1.05);
      }
    }
  }
}

@media (max-width: 1440px) {
  .about {
    &__text {
      font-size: 24px;
    }
  }
}

@media (max-width: $menu-breakpoint) {
  .about {
    padding-top: 0;

    &__video {
      &::before {
        width: 52px;
        height: 61px;
      }
    }

    &__text {
      @include mb(16px);

      font-size: 20px;
    }

    &__box {
      @include mb(18px);
    }

    &__title {
      margin-bottom: 12px;
    }
  }
}

@media (max-width: 768px) {
  .about {
    padding-top: 0;

    &__title {
      font-size: 20px;

      &--main {
        font-size: 24px;
      }
    }

    &__row {
      margin: 0 -10px;
    }

    &__col {
      margin: 0 10px;
    }

    &__text {
      font-size: 16px;
    }
  }
}

@media (max-width: 580px) {
  .about {
    &__row {
      flex-direction: column;
      margin: 0;
    }

    &__col {
      flex: auto;
      margin: 0;
    }

    &__col-img {
      order: -1;
      margin-bottom: 16px;
    }
  }
}