.banner {
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    padding: 24px;
    min-height: 240px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $black;
  }

  &__title {
    font-weight: 600;
    font-size: 56px;
    text-align: center;
    text-transform: uppercase;
    color: $white;

    span {
      color: $yellow;
    }
  }
}

@media (max-width: 1440px) {
  .banner {
    &__title {
      font-size: 50px;
    }

    &__inner {
      min-height: 210px;
    }
  }
}

@media (max-width: $menu-breakpoint) {
  .banner {
    &__inner {
      min-height: 170px;
    }

    &__title {
      font-size: 36px;
    }
  }
}

@media (max-width: 768px) {
  .banner {
    &__title {
      margin: 0 auto;
      max-width: 265px;
      font-size: 24px;
    }
  }
}