.benefits {
  &__title {
    margin-bottom: 44px;
  }

  &__list {
    @include grid(3, 20px);
  }

  &__item {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
    padding: 24px;
    min-height: 240px;
    background-color: $substrate;

    &.is-active {
      .benefits__info-name {
        opacity: 0;
        transform: translateY(-100px);
      }

      .benefits__icon {
        opacity: 0;
        transform: translateY(100px);
      }

      .benefits__hover {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }

    @include hover {
      .benefits__info-name {
        opacity: 0;
        transform: translateY(-100px);
      }

      .benefits__icon {
        opacity: 0;
        transform: translateY(100px);
      }

      .benefits__hover {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }
  }

  &__item--yellow {
    background-color: $yellow;

    &::after {
      content: "";
      position: absolute;
      right: 24px;
      top: 24px;
      width: 31px;
      height: 25px;
      background: url("data:image/svg+xml,%3Csvg width='31' height='25' viewBox='0 0 31 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='4' r='2.5' stroke='%23333333'/%3E%3Ccircle cx='24' cy='20' r='2.5' stroke='%23333333'/%3E%3Ccircle cx='3' cy='22' r='2.5' stroke='%23333333'/%3E%3Cpath d='M25.5 2L30 5M26 5L30 1' stroke='%23333333'/%3E%3Cpath d='M8 4C12.6667 4.66667 22.4 8.8 24 20' stroke='%23333333'/%3E%3C/svg%3E%0A") center / cover no-repeat;
      transition: transform 0.4s, opacity 0.4s;
    }

    .benefits__info-name {
      padding-right: 55px;
    }

    @include hover {
      &::after {
        opacity: 0;
        transform: translateY(-100px);
      }
    }
  }

  &__info-name {
    transition: transform 0.4s, opacity 0.4s;
  }

  &__name {
    position: relative;
    z-index: 1;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 28px;
    color: $carbon;
  }

  &__icon {
    margin-left: auto;
    width: 120px;
    height: 120px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: opacity 0.4s, transform 0.4s;
  }

  &__hover {
    position: absolute;
    left: 0;
    top: 0;
    padding: 24px 20px;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    transition: 0.4s;
  }

  &__hover-name {
    color: $yellow;
  }

  &__hover-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: 1440px) {
  .benefits {
    &__icon {
      width: 100px;
      height: 100px;
    }

    &__item {
      min-height: 200px;
    }

    &__info-name {
      max-width: 263px;
    }

    &__name {
      font-size: 24px;
    }
  }
}

@media (max-width: $menu-breakpoint) {
  .benefits {
    &__title {
      margin-bottom: 30px;
    }

    &__icon {
      width: 80px;
      height: 80px;
    }

    &__name {
      margin-bottom: 12px;
      font-size: 20px;
    }

    &__hover {
      padding: 20px;
    }

    &__item {
      padding: 20px;
      min-height: 140px;
    }
  }
}

@media (max-width: 768px) {
  .benefits {
    &__title {
      margin-bottom: 20px;
    }

    &__info-name {
      max-width: 204px;
    }

    &__item {
      min-height: auto;

      &--yellow {
        &::after {
          right: 18px;
          top: 18px;
          width: 20px;
          height: 16px;
        }

        .benefits__info-name {
          padding-right: 0;
        }
      }
    }

    &__list {
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }

    &__icon {
      width: 48px;
      height: 48px;
    }

    &__name {
      font-size: 16px;
    }
  }
}