.contacts {
  padding-top: 0;

  &__inner {
    @include grid(2, 20px);
  }

  &__title {
    margin-bottom: 18px;
  }

  &__items {
    margin-bottom: 20px;
  }

  &__item {
    @include mb(20px);
  }

  &__error {
    margin-bottom: 12px;
  }

  &__textarea {
    height: 380px;
  }

  &__file {
    display: block;
    margin-bottom: 30px;
    font-size: 28px;
    color: $carbon;
    cursor: pointer;

    span {
      position: relative;
      display: inline-block;
      padding-left: 40px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 33px;
        height: 32px;
        background: url("data:image/svg+xml,%3Csvg width='33' height='32' viewBox='0 0 33 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_228_3065)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.4929 2.60651C17.7594 1.35349 20.5466 1.35349 22.8133 2.60651C23.6528 3.07063 24.4364 3.82108 25.7093 5.04027C25.7504 5.07961 25.792 5.11944 25.8341 5.15977C26.233 5.54172 26.2468 6.17475 25.8648 6.57365C25.4828 6.97256 24.8498 6.98631 24.4509 6.60435C23.0132 5.22767 22.4276 4.67856 21.8456 4.35685C20.1812 3.43671 18.125 3.43671 16.4605 4.35685C15.8785 4.67856 15.293 5.22767 13.8552 6.60435L5.86933 14.2509C5.47041 14.6327 4.8374 14.619 4.45545 14.2201C4.07349 13.8213 4.08724 13.1882 4.48614 12.8063L12.472 5.15977C12.5142 5.11944 12.5558 5.07961 12.5968 5.04027C13.8697 3.82108 14.6533 3.07063 15.4929 2.60651ZM20.4273 9.01372C20.8092 8.6148 21.4422 8.60107 21.8412 8.98301C21.8774 9.01779 21.9134 9.05216 21.949 9.08617C22.4384 9.55347 22.8592 9.95527 23.0952 10.4244C23.5169 11.263 23.5169 12.2439 23.0952 13.0825C22.8592 13.5517 22.4384 13.9535 21.949 14.4207C21.9134 14.4547 21.8774 14.4891 21.8412 14.5239L12.0014 23.9455C11.6024 24.3274 10.9694 24.3137 10.5875 23.9147C10.2055 23.5159 10.2193 22.8829 10.6182 22.5009L20.458 13.0793C21.1177 12.4476 21.2493 12.3013 21.3084 12.1839C21.4458 11.9106 21.4458 11.5963 21.3084 11.3231C21.2493 11.2056 21.1177 11.0594 20.458 10.4276C20.059 10.0456 20.0453 9.41263 20.4273 9.01372Z' fill='%23333333'/%3E%3Cpath opacity='0.5' d='M24.9504 8.42248C26.3905 9.80144 26.9604 10.3593 27.2925 10.9101C28.2359 12.4745 28.2359 14.3957 27.2925 15.9601C26.9604 16.5108 26.3905 17.0686 24.9504 18.4477L15.0393 27.9374C14.2944 28.6506 13.7804 29.1417 13.3485 29.4901C12.9272 29.83 12.6512 29.977 12.4053 30.0477C11.9238 30.1861 11.4095 30.1861 10.9279 30.0477C10.6821 29.977 10.4061 29.83 9.98478 29.4901C9.55288 29.1417 9.03882 28.6506 8.29396 27.9374C7.54884 27.224 7.03636 26.7321 6.67306 26.3192C6.31725 25.9148 6.17149 25.6584 6.10329 25.4409C5.96557 25.0017 5.96557 24.5348 6.10329 24.0956C6.17149 23.8781 6.31725 23.6217 6.67306 23.2173C7.03636 22.8044 7.54884 22.3125 8.29396 21.599L18.0624 12.2457C18.7183 11.6177 18.8757 11.4859 19.0099 11.424C19.3248 11.2788 19.6951 11.2788 20.01 11.424C20.1441 11.4859 20.3015 11.6177 20.9575 12.2457V12.2457C20.5585 11.8638 20.5447 11.2299 20.9267 10.831C21.3012 10.4398 21.9172 10.419 22.3171 10.7786L22.2365 10.7013C21.744 10.2286 21.3281 9.82945 20.8475 9.6078C20.0011 9.21756 19.0188 9.21756 18.1724 9.6078C17.6917 9.82945 17.2759 10.2286 16.7833 10.7013L6.87865 20.1852C6.17345 20.8604 5.59816 21.4112 5.17149 21.8962C4.73086 22.397 4.38249 22.899 4.19493 23.4972C3.93502 24.3258 3.93502 25.2106 4.19493 26.0394C4.38249 26.6374 4.73086 27.1394 5.17149 27.6402C5.59816 28.1253 6.17341 28.6761 6.87861 29.3513L6.9424 29.4124C7.64805 30.088 8.22314 30.6386 8.72913 31.0468C9.25328 31.4696 9.76941 31.7956 10.3753 31.9698C11.2179 32.2121 12.1153 32.2121 12.958 31.9698C13.5638 31.7956 14.08 31.4696 14.6041 31.0468C15.1101 30.6386 15.6852 30.0881 16.3908 29.4124L26.4639 19.7674C27.7319 18.5537 28.5175 17.8017 29.0052 16.9928C30.3316 14.7932 30.3316 12.0769 29.0052 9.87732C28.5175 9.06835 27.7319 8.31637 26.4639 7.10265L26.3567 7C26.7328 7.38395 26.7385 7.99992 26.3641 8.39095C25.9821 8.78985 25.3493 8.80443 24.9504 8.42248Z' fill='%23333333'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_228_3065'%3E%3Crect width='32' height='32' fill='white' transform='translate(0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") center / cover no-repeat;
        transform: translateY(-50%);
      }
    }

    input {
      @include visually-hidden;
    }
  }

  &__info {
    margin-bottom: 24px;
  }

  &__info-item {
    @include mb(20px);

    border-radius: 16px;
    padding: 26px 15px 26px 66px;
    font-weight: 500;
    font-size: 28px;
    color: $carbon;
    background-position: left 20px center;
    background-size: 36px;
    background-repeat: no-repeat;
    background-color: $substrate;
  }

  &__form-footer {
    text-align: center;
  }

  &__socials {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: -12px;

    li {
      margin: 12px;
    }

    a {
      display: block;
      width: 48px;
      height: 48px;
      background-position: center;
      background-size: 48px;
      background-repeat: no-repeat;
      transition: transform $transition;

      @include hover {
        transform: translateY(-2px);
      }
    }
  }
}

@media (max-width: 1440px) {
  .contacts {
    &__info-item,
    &__file {
      font-size: 24px;
    }
  }
}

@media (max-width: $menu-breakpoint) {
  .contacts {
    padding-top: 0;

    &__info-item,
    &__file {
      font-size: 20px;
    }
  }
}

@media (max-width: 768px) {
  .contacts {
    padding-top: 0;

    &__title {
      margin-bottom: 12px;
    }

    &__socials {
      a {
        width: 30px;
        height: 30px;
        background-size: 30px;
      }
    }

    &__inner {
      display: flex;
      flex-direction: column-reverse;
      gap: 0;
    }

    &__form {
      margin-bottom: 20px;
    }

    &__file {
      margin-bottom: 20px;
      font-size: 16px;

      span {
        padding-left: 28px;

        &::before {
          width: 20px;
          height: 20px;
        }
      }
    }

    &__btn {
      font-size: 16px;
    }

    &__info-item {
      @include mb(12px);

      padding: 12px 12px 12px 46px;
      font-size: 16px;
      background-position: left 12px center;
      background-size: 24px;
    }
  }
}