.login {
  padding-top: 0;
  padding-bottom: 120px;

  &__inner {
    @include grid(2, 0);

    overflow: hidden;
    border: 1px solid #e5e5e5;
    border-radius: var(--border-radius);
    background-color: $background;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__text {
    margin-bottom: 44px;
    font-size: 28px;
    color: $carbon;
  }

  &__form {
    display: none;
    padding: 40px 48px 40px 40px;
    opacity: 0;

    &.is-active {
      display: block;
    }
  }

  &__subtitle {
    margin-bottom: 24px;
    font-size: 28px;
    color: #000;
  }

  &__item {
    @include mb(20px);
  }

  &__img {
    img {
      width: 100%;
    }
  }

  &__items {
    margin-bottom: 10px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 24px;
  }

  &__error {
    margin-bottom: 24px;
  }

  &__link {
    color: $carbon;
    transition: color $transition;

    @include hover {
      color: $yellow-dark;
    }
  }

  &__btn {
    @include mb(24px);
  }
}

@media (max-width: 1440px) {
  .login {
    &__text {
      font-size: 24px;
    }
  }
}

@media (max-width: $menu-breakpoint) {
  .login {
    padding-top: 0;

    &__text {
      margin-bottom: 30px;
      font-size: 20px;
    }

    &__form {
      padding: 0;
    }

    &__subtitle {
      font-size: 18px;
    }

    &__inner {
      display: block;
      border: none;
      border-radius: 0;
    }

    &__img {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .login {
    padding-top: 0;

    &__bottom {
      margin: 12px 0;
    }

    &__btn {
      @include mb(20px);

      font-size: 16px;
    }

    &__subtitle {
      margin-bottom: 8px;
    }

    &__title {
      margin-bottom: 12px;
    }

    &__text {
      margin-bottom: 20px;
      font-size: 16px;
    }
  }
}