.responses {
  &__title {
    margin-bottom: 24px;
  }

  &__item {
    @include mb(20px);

    border-radius: var(--border-radius);
    background-color: $substrate;
  }

  &__item-inner {
    display: block;
    padding: 24px;
  }

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  &__name {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 28px;
    color: $carbon;
  }

  &__badge {
    display: inline-block;
    margin-left: 12px;
    border-radius: 10px;
    padding: 8px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: $carbon;
  }

  &__badge--yellow {
    background: rgba(255, 230, 97, 40%);
  }

  &__badge--green {
    background: rgba(132, 220, 104, 40%);
  }

  &__badge--red {
    background: rgba(255, 138, 138, 40%);
  }

  &__buttons {
    display: flex;
    align-items: center;
  }

  &__btn {
    @include mr(20px);

    display: inline-block;
    width: 28px;
    height: 28px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__arrow {
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.5' d='M15.1466 26.2436L15.7732 25.1858C16.2591 24.3653 16.5021 23.955 16.8925 23.728C17.2829 23.5012 17.7743 23.4927 18.7571 23.4758C20.2082 23.4508 21.1182 23.3621 21.8814 23.0461C23.2975 22.46 24.4226 21.3357 25.0091 19.9205C25.2251 19.3996 25.3351 18.8101 25.391 18.0267C25.4207 17.6117 25.4355 17.4041 25.3247 17.2381C25.214 17.072 25.0037 17.0015 24.583 16.8606C22.8194 16.2695 18.7335 14.7658 16.4487 12.8342C13.8733 10.6568 11.5695 6.23038 10.7451 4.53375C10.5812 4.19647 10.4992 4.02783 10.3554 3.93884C10.2115 3.84984 10.029 3.85177 9.6641 3.85563C7.29078 3.88069 6.21604 4.01207 5.09163 4.70063C4.314 5.17684 3.6602 5.83021 3.18366 6.60732C2.33203 7.99611 2.33203 9.88662 2.33203 13.6676V14.8228C2.33203 17.5137 2.33203 18.8592 2.77195 19.9205C3.35851 21.3357 4.48359 22.46 5.89966 23.0461C6.66287 23.3621 7.57292 23.4508 9.02393 23.4758C10.0068 23.4927 10.4982 23.5012 10.8886 23.728C11.2789 23.955 11.5219 24.3653 12.0079 25.1858L12.6345 26.2436C13.193 27.1865 14.5881 27.1865 15.1466 26.2436Z' fill='%23333333'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.3523 0.279099C17.7436 0.64799 17.7397 1.24239 17.3435 1.60673L16.0577 2.7891C17.1763 2.79963 18.2523 2.82501 19.2233 2.88619C20.0583 2.93881 20.8403 3.01922 21.5218 3.14544C22.1892 3.26907 22.8323 3.44914 23.3432 3.73696C24.2925 4.27194 25.0919 5.00665 25.6752 5.88183C26.2363 6.72383 26.4835 7.67555 26.6021 8.82322C26.7182 9.94604 26.7182 11.3492 26.7182 13.1285V13.1778C26.7182 13.6963 26.2668 14.1167 25.7099 14.1167C25.153 14.1167 24.7015 13.6963 24.7015 13.1778C24.7015 11.3384 24.7005 10.0255 24.5948 9.00313C24.4906 7.99526 24.2919 7.36752 23.9615 6.87172C23.5471 6.24977 22.9777 5.72572 22.2989 5.34325C22.0822 5.22117 21.7054 5.09384 21.1283 4.98693C20.5651 4.8826 19.8779 4.80933 19.0872 4.7595C18.1736 4.70193 17.1547 4.67741 16.0741 4.66697L17.3435 5.83413C17.7397 6.19848 17.7436 6.79287 17.3523 7.16176C16.9609 7.53066 16.3225 7.53434 15.9263 7.17001L12.9014 4.38837C12.7095 4.21198 12.6016 3.97144 12.6016 3.72043C12.6016 3.46942 12.7095 3.22888 12.9014 3.05249L15.9263 0.270859C16.3225 -0.0934802 16.9609 -0.0897908 17.3523 0.279099Z' fill='%23333333'/%3E%3C/svg%3E%0A");
  }

  &__delete {
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.5' d='M3.53918 10.3716C2.97855 6.63411 2.69824 4.76536 3.74549 3.5493C4.79274 2.33325 6.6824 2.33325 10.4617 2.33325H17.5384C21.3177 2.33325 23.2075 2.33325 24.2547 3.5493C25.3019 4.76536 25.0217 6.63412 24.461 10.3716L23.061 19.7049C22.6344 22.5488 22.4212 23.9707 21.4365 24.8186C20.452 25.6666 19.0142 25.6666 16.1384 25.6666H11.8618C8.98606 25.6666 7.54822 25.6666 6.56364 24.8186C5.57905 23.9707 5.36576 22.5488 4.93918 19.7049L3.53918 10.3716Z' fill='%23FF8A8A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.10166 14.1344L3.76331 11.8786L5.91508 9.48785L4.30222 7.875H3.18264C3.10157 7.21376 3.04945 6.63538 3.03906 6.125H24.9573C24.9469 6.63538 24.8948 7.21376 24.8137 7.875H23.6938L22.0809 9.48785L24.233 11.879L23.8948 14.1339L22.0277 16.1256L23.3914 17.4894L23.0686 19.6414L20.8301 17.4029L18.6405 19.7385L20.1938 21.2917H22.8135C22.6994 21.9796 22.5862 22.5553 22.4472 23.0417H5.5491C5.41018 22.5553 5.29694 21.9796 5.18279 21.2917H7.80222L9.35547 19.7385L7.16589 17.4029L4.92767 19.6411L4.60486 17.489L5.96838 16.1256L4.10166 14.1344ZM7.08738 8.18529L6.7771 7.875H7.36664L7.08738 8.18529ZM8.32654 9.42444L9.72103 7.875H11.3022L12.7606 9.33333L10.498 11.5959L8.32654 9.42444ZM13.998 8.0959L13.7771 7.875H14.2189L13.998 8.0959ZM15.2355 9.33333L16.6938 7.875H18.275L19.6695 9.42444L17.498 11.5959L15.2355 9.33333ZM20.9086 8.18529L20.6293 7.875H21.2189L20.9086 8.18529ZM18.7355 12.8333L20.8418 10.727L22.7266 12.8212L20.7895 14.8875L18.7355 12.8333ZM17.498 14.0708L19.592 16.1648L17.4024 18.5003L15.2355 16.3333L17.498 14.0708ZM13.998 17.5708L16.205 19.7777L14.7856 21.2917H13.2104L11.7911 19.7777L13.998 17.5708ZM17.7189 21.2917H17.1844L17.443 21.0157L17.7189 21.2917ZM10.553 21.0157L10.8116 21.2917H10.2771L10.553 21.0157ZM12.7606 16.3333L10.5935 18.5003L8.40397 16.1648L10.498 14.0708L12.7606 16.3333ZM9.26056 12.8333L7.20645 14.8875L5.2694 12.8212L7.15422 10.727L9.26056 12.8333ZM13.998 15.0958L11.7355 12.8333L13.998 10.5708L16.2606 12.8333L13.998 15.0958Z' fill='%23FF8A8A'/%3E%3C/svg%3E%0A");
  }

  &__text {
    color: $carbon;
  }

  &__status {
    margin-right: 16px;
  }

  &__answer {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
  }

  &__answer-title {
    margin-bottom: 10px;
  }

  &__answer-textarea {
    margin-bottom: 24px;
    height: 96px;
    font-size: 20px;
  }

  &__answer-btn {
    align-self: flex-end;
  }

  &__info {
    margin-right: 12px;
  }
}

@media (max-width: 1440px) {
  .responses {
    &__name {
      font-size: 24px;
    }
  }
}

@media (max-width: $menu-breakpoint) {
  .responses {
    &__name {
      font-size: 20px;
    }
  }
}

@media (max-width: 768px) {
  .responses {
    &__item-inner {
      padding: 12px;
    }

    &__btn {
      @include mr(16px);

      width: 20px;
      height: 20px;
    }

    &__item {
      @include mb(12px);
    }

    &__badge {
      padding: 6px;
      font-size: 16px;
    }

    &__name {
      font-size: 16px;
    }
  }
}

@media (max-width: 580px) {
  .responses {
    &__answer-textarea {
      margin-bottom: 12px;
      height: 119px;
    }

    &__header {
      .responses__buttons {
        margin-bottom: 12px;
      }

      &--wrap {
        flex-direction: column-reverse;
      }
    }
  }
}

@media (max-width: 385px) {
  .responses {
    &__badge {
      font-size: 14px;
    }
  }
}