.seo {
  &__title {
    margin-bottom: 38px;
  }

  &__text {
    font-size: 28px;

    &.is-active {
      .seo__more-wrapper {
        display: none;
      }

      .seo__text-hidden {
        display: inline;
      }
    }
  }

  &__text-hidden {
    display: none;
  }

  &__btn {
    border-bottom: 1px solid transparent;
    font-weight: 600;
    color: $carbon;
    transition: color $transition;

    @include hover {
      color: $yellow-dark;
    }
  }
}

@media (max-width: 1440px) {
  .seo {
    &__text {
      font-size: 24px;
    }
  }
}

@media (max-width: $menu-breakpoint) {
  .seo {
    &__title {
      margin-bottom: 30px;
    }

    &__text {
      font-size: 20px;
    }
  }
}

@media (max-width: 768px) {
  .seo {
    &__title {
      margin-bottom: 20px;
    }

    &__text {
      font-size: 16px;
    }
  }
}