.sidebar {
  border-radius: 16px;
  padding: 8px 24px 24px;
  background-color: $substrate;

  &__list {
    a {
      display: block;
      padding: 16px 0;
      transition: color $transition;

      span {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        border-radius: 8px;
        padding: 2px 10px;
        font-weight: 400;
        color: $yellow;
        background-color: $carbon;
      }

      @include hover {
        color: $yellow-dark;
      }
    }

    li {
      position: relative;
      border-bottom: 1px solid #e5e5e5;

      &::before {
        content: "";
        position: absolute;
        left: -24px;
        top: 50%;
        border-radius: 0 2px 2px 0;
        width: 4px;
        height: 32px;
        background-color: $yellow;
        opacity: 0;
        transform: translateY(-50%);
        transition: opacity $transition;
      }

      &:last-child {
        border-bottom: none;
      }

      &.is-active {
        font-weight: 600;
        color: $carbon;

        &::before {
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: $menu-breakpoint) {
  .sidebar {
    padding: 0;
    padding-left: 48px;
    font-size: 24px;
    background-color: transparent;

    &__list {
      a {
        padding: 16px 0;
      }

      li {
        &::before {
          display: none;
        }

        &:last-child {
          border-bottom: 1px solid #e5e5e5;
        }
      }
    }
  }
}