.steps {
  &__title {
    margin-bottom: 44px;
  }

  &__list {
    @include grid(3, 20px);
  }

  &__item {
    --icon-background: #ffe661;
    --padding: 32px;
    --background: #f9f9f9;

    border-radius: var(--border-radius);
    padding: var(--padding);
    background-color: var(--background);
  }

  &__item--yellow {
    --icon-background: #333;
    --background: #ffe661;

    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 24px;
      top: 24px;
      width: 31px;
      height: 25px;
      background: url("data:image/svg+xml,%3Csvg width='31' height='25' viewBox='0 0 31 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='4' r='2.5' stroke='%23333333'/%3E%3Ccircle cx='24' cy='20' r='2.5' stroke='%23333333'/%3E%3Ccircle cx='3' cy='22' r='2.5' stroke='%23333333'/%3E%3Cpath d='M25.5 2L30 5M26 5L30 1' stroke='%23333333'/%3E%3Cpath d='M8 4C12.6667 4.66667 22.4 8.8 24 20' stroke='%23333333'/%3E%3C/svg%3E%0A") center / cover no-repeat;
      transition: transform 0.4s, opacity 0.4s;
    }
  }

  &__item--lg {
    --padding: 40px;

    position: relative;
    grid-column: span 3;
    overflow: hidden;
    min-height: 240px;

    .steps__info {
      max-width: 48%;
    }
  }

  &__icon {
    margin-bottom: 26px;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    background-position: center;
    background-size: 26px;
    background-repeat: no-repeat;
    background-color: var(--icon-background);
  }

  &__name {
    margin-bottom: 12px;
  }

  &__img {
    position: absolute;
    right: 20px;
    bottom: 0;
    max-width: 50%;
  }
}

@media (max-width: $menu-breakpoint) {
  .steps {
    &__icon {
      margin-bottom: 18px;
    }

    &__title {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 768px) {
  .steps {
    &__list {
      gap: 10px;
    }

    &__item {
      --padding: 20px;

      &--yellow {
        &::after {
          width: 20px;
          height: 16px;
        }
      }

      &--lg {
        .steps__info {
          max-width: 100%;
        }
      }
    }

    &__img {
      position: relative;
      left: auto;
      right: auto;
      top: auto;
      bottom: -20px;
      margin: 0 auto;
      margin-right: -25px;
      margin-left: -25px;
      max-width: none;
      text-align: center;
    }

    &__title {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 580px) {
  .steps {
    &__icon {
      margin-bottom: 12px;
    }

    &__list {
      display: block;
    }

    &__item {
      @include mb(10px);
    }
  }
}