.team {
  &__inner {
  }

  &__title {
    margin-bottom: 16px;
  }

  &__text {
    margin-bottom: 24px;
  }

  &__list {
    @include grid(2, 20px);
  }

  &__item {
    @include aspect-ratio(550px, 312px);
  }
}

.team-card {
  display: flex;
  flex-direction: column;
  border-radius: 28px;
  padding: 34px 34px 40px 40px;
  min-height: 250px;
  background: url("data:image/svg+xml,%3Csvg width='550' height='185' viewBox='0 0 550 185' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 68.5C138 -109 334 149.5 550 0V185H0V68.5Z' fill='%23FFE661'/%3E%3C/svg%3E%0A") bottom no-repeat;
  background-color: $substrate;

  &__title {
    position: relative;
    z-index: 1;
    font-weight: 500;
    font-size: 28px;
    color: $carbon;
  }

  &__position {
    position: relative;
    z-index: 1;
    margin-top: auto;
    font-weight: 500;
    font-size: 28px;
    color: $carbon;
  }

  &__img {
    position: absolute;
    right: 0;
    bottom: 0;

    img {
      width: auto;
      height: 100%;
    }
  }
}
