<!DOCTYPE html>
<html lang="ru">
{% block head %}
{% include "../base/head.njk" %}
{% endblock %}

<body>
  <div class="page-wrapper">
    {% block header %}
    {% include "../base/header-profile.njk" %}
    {% endblock %}

    <div class="profile-page">
      <div class="container">
        <div class="profile-page__inner">
          {% block aside %}
          {% include "../base/aside.njk" %}
          {% endblock %}
          <main class="profile-page__main main">
            {% block content %}{% endblock content %}
          </main>
        </div>
        {% block outside %}{% endblock outside %}
      </div>
    </div>
    {% block footer %}
    {% include "../base/footer.njk" %}
    {% endblock footer %}
  </div>
  {% include "../base/modals.njk" %}
  {% block extraScripts %}
  {% endblock extraScripts %}
  {% block scripts %}
  {% include "../base/scripts.njk" %}
  {% endblock %}
</body>

</html>