<section class="about section">
  <div class="container">
    <ul class="about__breadcrumbs breadcrumbs">
      <li><a href="/">Главная/</a></li>
      <li>О нас</li>
    </ul>
    <div class="about__inner">
      <div class="about__box">
        <h1 class="about__title title">О нашем проекте</h1>
        <div class="about__img">
          <img src="img/about.jpg" width="1120" height="425" alt="" />
        </div>
      </div>
      <div class="about__box">
        <h2 class="about__title title">Идея проекта</h2>
        <div class="about__row">
          <div class="about__col about__col-img">
            <img src="img/about.jpg" width="440" height="260" alt="" />
          </div>
          <div class="about__col about__col-info">
            <p class="about__text">В своём стремлении улучшить пользовательский опыт мы упускаем, что стремящиеся
              вытеснить традиционное
              производство, нанотехнологии будут описаны максимально подробно. Значимость этих проблем настолько
              очевидна,
              что современная методология разработки предполагает независимые способы реализации системы обучения
              кадров,
              соответствующей </p>
          </div>
        </div>

      </div>
      <div class="about__box">
        <h2 class="about__title title">Цель проекта</h2>
        <div class="about__row">
          <div class="about__col about__col-info">
            <p class="about__text">В своём стремлении улучшить пользовательский опыт мы упускаем, что стремящиеся
              вытеснить традиционное
              производство, нанотехнологии будут описаны максимально подробно. Значимость этих проблем настолько
              очевидна,
              что современная методология разработки предполагает независимые способы реализации системы обучения
              кадров,
              соответствующей </p>
          </div>
          <div class="about__col about__col-img">
            <img src="img/about.jpg" width="440" height="260" alt="" />
          </div>
        </div>
      </div>
      <div class="about__box">
        <h2 class="about__title title">Результат нашей работы</h2>
        <p class="about__text">Описание</p>
        <a class="about__video" tabindex="0" role="button" title="Открыть видео"
          href="https://www.youtube.com/watch?v=N-vLYY9dsIk" data-fslightbox="about">
          <img src="img/result.jpg" width="528" height="296" alt="Постер видео" />
        </a>
      </div>

      <section class="team">
        <div class="container">
          <div class="team__inner">
            <h2 class="team__title title">Наша команда</h2>
            <p class="team__text">Описание</p>
            <ul class="team__list">
              <li class="team__item">
                <article class="team-card">
                  <p class="team-card__title">Иванов Иван</p>
                  <p class="team-card__position">Директор</p>
                  <div class="team-card__img">
                    <img src="img/team.png" width="312" height="312" alt="Иван" />
                  </div>
                </article>
              </li>
              <li class="team__item">
                <article class="team-card">
                  <p class="team-card__title">Иванов Иван</p>
                  <p class="team-card__position">Директор</p>
                  <div class="team-card__img">
                    <img src="img/team.png" width="312" height="312" alt="Иван" />
                  </div>
                </article>
              </li>
              <li class="team__item">
                <article class="team-card">
                  <p class="team-card__title">Иванов Иван</p>
                  <p class="team-card__position">Директор</p>
                  <div class="team-card__img">
                    <img src="img/team.png" width="312" height="312" alt="Иван" />
                  </div>
                </article>
              </li>
              <li class="team__item">
                <article class="team-card">
                  <p class="team-card__title">Иванов Иван</p>
                  <p class="team-card__position">Директор</p>
                  <div class="team-card__img">
                    <img src="img/team.png" width="312" height="312" alt="Иван" />
                  </div>
                </article>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>