<section class="article section">
  <div class="container">
    <ul class="article__breadcrumbs breadcrumbs">
      <li><a href="./">Главная/</a></li>
      <li><a href="./news.html">Новости/</a></li>
      <li>Открытие сайта</li>
    </ul>
    <div class="article__inner">
      <h1 class="article__title title">Открытие сайта</h1>
      <p class="article__date">Опубликовано: <time datetime="2023-05-25">25.05.2023</time>0</p>
      <div class="article__img">
        <img src="img/article.jpg" width="1120" height="425" alt="" />
      </div>
      <div class="article__content">
        <p>Компания "QR-Мемориал" рада представить уникальный и тронуточный проект, который поможет сохранить память о
          ушедших близких - представляем вам сайт по продаже персонализированных QR кодов для могил.</p>

        <p> Теперь каждый человек может приобрести QR код, который будет установлен на могиле умершего. Отсканируйте его
          с помощью своего смартфона и откройте для себя целый мир информации, посвященной человеку, чьей памяти вы
          хотите посвятить этот момент. Узнайте его историю, важные события жизни, а может быть, даже последние слова
          или мысли.</p>

        <p>Наш интернет-магазин предлагает широкий выбор дизайнов и возможностей персонализации QR кодов, чтобы создать
          настоящий мемориал, оставивший вечный след в вашем сердце.</p>

        <p>Присоединяйтесь к нашему проекту и возможность современных технологий, чтобы сохранить память и увековечить
          жизнь тех, кто был важен вам. Создайте место в памяти, которое будет долго жить и напоминать о любви и
          уважении к ушедшим.</p>
      </div>
      <footer class="article__footer">
        <p class="article__views">Просмотров: <span>1414</span></p>
        <div class="article__stat">
          <button class="article__like" type="button" title="Нравится"></button>
          <p class="article__stat-value">1414</p>
          <button class="article__dislike" type="button" title="Не нравится"></button>
        </div>
      </footer>
    </div>
  </div>
</section>