<section class="banner section">
  <div class="container">
    <div class="banner__inner" style="background-image: url('img/banner.png');">
      <h3 class="banner__title"><span>1500</span> КЛИЕНТОВ ПОМНЯТ О БЛИЗКИХ</h3>
    </div>
  </div>
</section>