<section class="benefits section">
  <div class="container">
    <div class="benefits__inner">
      <h2 class="benefits__title title">Преимущества покупки</h2>
      <ul class="benefits__list">
        <li class="benefits__item benefits__item--yellow">
          <div class="benefits__info">
            <h4 class="benefits__name benefits__info-name">Увековечить память о близком</h4>
            <div class="benefits__icon" style="background-image: url('img/benefits-icon-1.svg');"></div>
          </div>
          <div class="benefits__hover">
            <p class="benefits__name benefits__hover-name">Воспоминания всегда под рукой</p>
            <div class="benefits__hover-img">
              <img src="img/benefits-1.jpg" width="360" height="240" alt="" />
            </div>
          </div>
        </li>
        <li class="benefits__item">
          <div class="benefits__info">
            <h4 class="benefits__name benefits__info-name">Настройка доступа к странице</h4>
            <div class="benefits__icon" style="background-image: url('img/benefits-icon-2.svg');"></div>
          </div>
          <div class="benefits__hover">
            <p class="benefits__name benefits__hover-name">Гибкие настройки отображаемой информации и доступа</p>
            <div class="benefits__hover-img">
              <img src="img/benefits-2.jpg" width="360" height="240" alt="" />
            </div>
          </div>
        </li>
        <li class="benefits__item">
          <div class="benefits__info">
            <h4 class="benefits__name benefits__info-name">Видеоролики <br />
              на память от нас</h4>
            <div class="benefits__icon" style="background-image: url('img/benefits-icon-3.svg');"></div>
          </div>
          <div class="benefits__hover">
            <p class="benefits__name benefits__hover-name">Создадим качественный видеоролик с вашими изображениями</p>
            <div class="benefits__hover-img">
              <img src="img/benefits-3.jpg" width="360" height="240" alt="" />
            </div>
          </div>
        </li>
        <li class="benefits__item">
          <div class="benefits__info">
            <h4 class="benefits__name benefits__info-name">Обработаем <br />
              ваше фото</h4>
            <div class="benefits__icon" style="background-image: url('img/benefits-icon-4.svg');"></div>
          </div>
          <div class="benefits__hover">
            <p class="benefits__name benefits__hover-name">Наши дизайнеры улучшат качество вашего фото</p>
            <div class="benefits__hover-img">
              <img src="img/benefits-4.jpg" width="360" height="240" alt="" />
            </div>
          </div>
        </li>
        <li class="benefits__item">
          <div class="benefits__info">
            <h4 class="benefits__name benefits__info-name">Редактирование в любой момент</h4>
            <div class="benefits__icon" style="background-image: url('img/benefits-icon-5.svg');"></div>
          </div>
          <div class="benefits__hover">
            <p class="benefits__name benefits__hover-name">Вы всегда сможете изменять и дополнять информацию</p>
            <div class="benefits__hover-img">
              <img src="img/benefits-5.jpg" width="360" height="240" alt="" />
            </div>
          </div>
        </li>
        <li class="benefits__item">
          <div class="benefits__info">
            <h4 class="benefits__name benefits__info-name">Вечная <br />
              гарантия на QR</h4>
            <div class="benefits__icon" style="background-image: url('img/benefits-icon-6.svg');"></div>
          </div>
          <div class="benefits__hover">
            <p class="benefits__name benefits__hover-name">Мы обеспечиваем круглосуточную работу нашего проекта</p>
            <div class="benefits__hover-img">
              <img src="img/benefits-6.jpg" width="360" height="240" alt="" />
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>