<section class="contacts section">
  <div class="container">
    <ul class="contacts__breadcrumbs breadcrumbs">
      <li><a href="./">Главная/</a></li>
      <li>Контакты</li>
    </ul>
    <div class="contacts__inner">
      <div class="contacts__col contacts__form">
        <form>
          <div class="contacts__form-inner">
            <h1 class="contacts__title title">Свяжитесь с нами</h1>
            <div class="contacts__items">
              <div class="contacts__item">
                <input class="contacts__input form-control" type="text" placeholder="ФИО" />
              </div>
              <div class="contacts__item">
                <input class="contacts__input form-control" type="email" placeholder="Почта" />
              </div>
              <div class="contacts__item">
                <input class="contacts__input form-control" type="tel" placeholder="Номер телефона" />
              </div>
              <div class="contacts__item">
                <textarea class="contacts__textarea form-control" placeholder="Введите текст обращения"></textarea>
              </div>
            </div>
            <div class="contacts__form-footer">

              <label class="contacts__file">
                <input type="file" name="file" />
                <span>Прикрепить фото</span>
              </label>
              <button class="contacts__btn btn-primary">Отправить сообщение</button>
              <!-- <div class="contacts__error form-error">Какая-то ошибка!</div> -->
            </div>
          </div>
        </form>
      </div>
      <div class="contacts__col contacts__info">
        <h2 class="contacts__title title">Наши контакты</h2>
        <p class="contacts__info-item" style="background-image: url('img/contacts-address.svg')">ул. Михаила
          Грушевского, 12/2, Киев</p>
        <p class="contacts__info-item" style="background-image: url('img/contacts-phone.svg')"><a
            href="tel:+380123456789">+380 123456789</a>, <a href="tel:+380123456789">+380 123456789</a></p>
        <p class="contacts__info-item" style="background-image: url('img/contacts-email.svg')"><a
            href="mailto:qrcodeemail@gmail.com">qrcodeemail@gmail.com</a>
        </p>
        <ul class="contacts__socials">
          <li><a style="background-image: url('img/contacts-icon-1.svg')" href="#" title="Ссылка на Whatsapp"></a></li>
          <li><a style="background-image: url('img/contacts-icon-2.svg')" href="#" title="Ссылка на Whatsapp"></a></li>
          <li><a style="background-image: url('img/contacts-icon-3.svg')" href="#" title="Ссылка на Whatsapp"></a></li>
          <li><a style="background-image: url('img/contacts-icon-4.svg')" href="#" title="Ссылка на Whatsapp"></a></li>
          <li><a style="background-image: url('img/contacts-icon-5.svg')" href="#" title="Ссылка на Whatsapp"></a></li>
          <li><a style="background-image: url('img/contacts-icon-6.svg')" href="#" title="Ссылка на Whatsapp"></a></li>
        </ul>
      </div>

    </div>
  </div>
</section>