<section class="general section">
  <div class="container">
    <div class="general__inner">
      <div class="general__info">
        <h2 class="general__title title">Главное о QR - Коде </h2>
        <div class="general__tabs">
          <button class="general__tab is-active" data-tabs="1">Материал</button>
          <button class="general__tab" data-tabs="2">Оформление</button>
          <button class="general__tab" data-tabs="3">Установка</button>
        </div>
        <div class="general__content">
          <div class="general__content-item is-active" data-tabs="1">
            <h3 class="general__subtitle">Материал QR - Кода</h3>
            <div class="general__text">
              <p>Описание QR-кода Описание QR-кода
                Описание QR-кода Описание QR-кода </p>
            </div>
            <a class="general__btn btn-primary" href="#">Купить</a>
          </div>
          <div class="general__content-item" data-tabs="2">
            <h3 class="general__subtitle">Визуальное оформление QR - Кода</h3>
            <div class="general__text">
              <p>Описание QR-кода Описание QR-кода
                Описание QR-кода Описание QR-кода </p>
            </div>
            <a class="general__btn btn-primary" href="#">Купить</a>
          </div>
          <div class="general__content-item" data-tabs="3">
            <h3 class="general__subtitle">Установка и крепление QR - Кода</h3>
            <div class="general__text">
              <p>Описание QR-кода Описание QR-кода
                Описание QR-кода Описание QR-кода </p>
            </div>
            <a class="general__btn btn-primary" href="#">Купить</a>
          </div>
        </div>
      </div>
      <a class="general__media" tabindex="0" role="button" title="Открыть видео"
        href="https://www.youtube.com/watch?v=N-vLYY9dsIk" data-fslightbox="general">
        <img src="img/general.jpg" width="528" height="296" alt="Постер видео" />
      </a>
    </div>
  </div>
</section>