<section class="hero section">
  <div class="container">
    <div class="hero__inner">
      <div class="hero__content">
        <h1 class="hero__title">Згадай  мене</h1>
        <div class="hero__text">
          <p>Слоган слоган слоган слоган слоган слоган слоган слоган</p>
        </div>
        <div class="hero__buttons">
          <a class="hero__btn btn-primary" href="#">Купить</a>
          <a class="hero__link" href="#">Что я получаю?</a>
        </div>
      </div>
      <div class="hero__img">
        <img src="img/qr.png" width="278" height="262" alt="qr"/>
      </div>
    </div>
  </div>
</section>