<section class="news section">
  <div class="container">
    <div class="news__inner">
      <header class="news__header">
        <h3 class="news__title title">Наши новости</h3>
        <a class="news__link" href="./news.html" data-text-mobile="Все">Смотреть все</a>
      </header>
      <div class="news__slider splide" role="group">
        <div class="news__slider-inner">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide">
                <article class="news-card">
                  <a class="news-card__wrapper" href="./article.html">
                    <div class="news-card__img">
                      <img src="img/news.jpg" width="552" height="248" alt="" />
                    </div>
                    <div class="news-card__inner">
                      <div class="news-card__info">
                        <h4 class="news-card__title subtitle">Открытие сайта</h4>
                        <time class="news-card__date" datetime="2023-05-25">25.05.2023</time>
                      </div>
                      <div class="news-card__stat">
                        <p class="news-card__stat-item news-card__views">5</p>
                        <p class="news-card__stat-item news-card__likes">3</p>
                      </div>
                    </div>
                  </a>
                </article>
              </li>
              <li class="splide__slide">
                <article class="news-card">
                  <a class="news-card__wrapper" href="./article.html">
                    <div class="news-card__img">
                      <img src="img/news.jpg" width="552" height="248" alt="" />
                    </div>
                    <div class="news-card__inner">
                      <div class="news-card__info">
                        <h4 class="news-card__title subtitle">Открытие сайта</h4>
                        <time class="news-card__date" datetime="2023-05-25">25.05.2023</time>
                      </div>
                      <div class="news-card__stat">
                        <p class="news-card__stat-item news-card__views">5</p>
                        <p class="news-card__stat-item news-card__likes">3</p>
                      </div>
                    </div>
                  </a>
                </article>
              </li>
              <li class="splide__slide">
                <article class="news-card">
                  <a class="news-card__wrapper" href="./article.html">
                    <div class="news-card__img">
                      <img src="img/news.jpg" width="552" height="248" alt="" />
                    </div>
                    <div class="news-card__inner">
                      <div class="news-card__info">
                        <h4 class="news-card__title subtitle">Открытие сайта</h4>
                        <time class="news-card__date" datetime="2023-05-25">25.05.2023</time>
                      </div>
                      <div class="news-card__stat">
                        <p class="news-card__stat-item news-card__views">5</p>
                        <p class="news-card__stat-item news-card__likes">3</p>
                      </div>
                    </div>
                  </a>
                </article>
              </li>
              <li class="splide__slide">
                <article class="news-card">
                  <a class="news-card__wrapper" href="./article.html">
                    <div class="news-card__img">
                      <img src="img/news.jpg" width="552" height="248" alt="" />
                    </div>
                    <div class="news-card__inner">
                      <div class="news-card__info">
                        <h4 class="news-card__title subtitle">Открытие сайта</h4>
                        <time class="news-card__date" datetime="2023-05-25">25.05.2023</time>
                      </div>
                      <div class="news-card__stat">
                        <p class="news-card__stat-item news-card__views">5</p>
                        <p class="news-card__stat-item news-card__likes">3</p>
                      </div>
                    </div>
                  </a>
                </article>
              </li>
              <li class="splide__slide">
                <article class="news-card">
                  <a class="news-card__wrapper" href="./article.html">
                    <div class="news-card__img">
                      <img src="img/news.jpg" width="552" height="248" alt="" />
                    </div>
                    <div class="news-card__inner">
                      <div class="news-card__info">
                        <h4 class="news-card__title subtitle">Открытие сайта</h4>
                        <time class="news-card__date" datetime="2023-05-25">25.05.2023</time>
                      </div>
                      <div class="news-card__stat">
                        <p class="news-card__stat-item news-card__views">5</p>
                        <p class="news-card__stat-item news-card__likes">3</p>
                      </div>
                    </div>
                  </a>
                </article>
              </li>
              <li class="splide__slide">
                <article class="news-card">
                  <a class="news-card__wrapper" href="./article.html">
                    <div class="news-card__img">
                      <img src="img/news.jpg" width="552" height="248" alt="" />
                    </div>
                    <div class="news-card__inner">
                      <div class="news-card__info">
                        <h4 class="news-card__title subtitle">Открытие сайта</h4>
                        <time class="news-card__date" datetime="2023-05-25">25.05.2023</time>
                      </div>
                      <div class="news-card__stat">
                        <p class="news-card__stat-item news-card__views">5</p>
                        <p class="news-card__stat-item news-card__likes">3</p>
                      </div>
                    </div>
                  </a>
                </article>
              </li>
            </ul>
          </div>
        </div>
        <div class="splide__arrows">
          <button class="splide__arrow splide__arrow--prev">
            <svg width="11" height="46" viewBox="0 0 11 46" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9 44L3 23L9 2" stroke="#FFE661" stroke-width="4" stroke-linecap="round" />
            </svg>
          </button>
          <button class="splide__arrow splide__arrow--next">
            <svg width="11" height="46" viewBox="0 0 11 46" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 2L8 23L2 44" stroke="#FFE661" stroke-width="4" stroke-linecap="round" />
            </svg>
          </button>
        </div>
        <ul class="splide__pagination"></ul>
      </div>
    </div>
  </div>
</section>