<section class="news-page section">
  <div class="container">
    <ul class="news-page__breadcrumbs breadcrumbs">
      <li><a href="/">Главная/</a></li>
      <li>Новости</li>
    </ul>
    <div class="news-page__inner">
      <h1 class="news-page__title title">Новости</h1>
      <ul class="news-page__list">
        <li class="news-page__item">
          <article class="news-card">
            <a class="news-card__wrapper" href="/article.html">
              <div class="news-card__img">
                <img src="img/news.jpg" width="552" height="248" alt="" />
              </div>
              <div class="news-card__inner">
                <div class="news-card__info">
                  <h4 class="news-card__title subtitle">Открытие сайта</h4>
                  <time class="news-card__date" datetime="2023-05-25">25.05.2023</time>
                </div>
                <div class="news-card__stat">
                  <p class="news-card__stat-item news-card__views">5</p>
                  <p class="news-card__stat-item news-card__likes">3</p>
                </div>
              </div>
            </a>
          </article>
        </li>
        <li class="news-page__item">
          <article class="news-card">
            <a class="news-card__wrapper" href="/article.html">
              <div class="news-card__img">
                <img src="img/news.jpg" width="552" height="248" alt="" />
              </div>
              <div class="news-card__inner">
                <div class="news-card__info">
                  <h4 class="news-card__title subtitle">Открытие сайта</h4>
                  <time class="news-card__date" datetime="2023-05-25">25.05.2023</time>
                </div>
                <div class="news-card__stat">
                  <p class="news-card__stat-item news-card__views">5</p>
                  <p class="news-card__stat-item news-card__likes">3</p>
                </div>
              </div>
            </a>
          </article>
        </li>
        <li class="news-page__item">
          <article class="news-card">
            <a class="news-card__wrapper" href="/article.html">
              <div class="news-card__img">
                <img src="img/news.jpg" width="552" height="248" alt="" />
              </div>
              <div class="news-card__inner">
                <div class="news-card__info">
                  <h4 class="news-card__title subtitle">Открытие сайта</h4>
                  <time class="news-card__date" datetime="2023-05-25">25.05.2023</time>
                </div>
                <div class="news-card__stat">
                  <p class="news-card__stat-item news-card__views">5</p>
                  <p class="news-card__stat-item news-card__likes">3</p>
                </div>
              </div>
            </a>
          </article>
        </li>
        <li class="news-page__item">
          <article class="news-card">
            <a class="news-card__wrapper" href="/article.html">
              <div class="news-card__img">
                <img src="img/news.jpg" width="552" height="248" alt="" />
              </div>
              <div class="news-card__inner">
                <div class="news-card__info">
                  <h4 class="news-card__title subtitle">Открытие сайта</h4>
                  <time class="news-card__date" datetime="2023-05-25">25.05.2023</time>
                </div>
                <div class="news-card__stat">
                  <p class="news-card__stat-item news-card__views">5</p>
                  <p class="news-card__stat-item news-card__likes">3</p>
                </div>
              </div>
            </a>
          </article>
        </li>
        <li class="news-page__item">
          <article class="news-card">
            <a class="news-card__wrapper" href="/article.html">
              <div class="news-card__img">
                <img src="img/news.jpg" width="552" height="248" alt="" />
              </div>
              <div class="news-card__inner">
                <div class="news-card__info">
                  <h4 class="news-card__title subtitle">Открытие сайта</h4>
                  <time class="news-card__date" datetime="2023-05-25">25.05.2023</time>
                </div>
                <div class="news-card__stat">
                  <p class="news-card__stat-item news-card__views">5</p>
                  <p class="news-card__stat-item news-card__likes">3</p>
                </div>
              </div>
            </a>
          </article>
        </li>
        <li class="news-page__item">
          <article class="news-card">
            <a class="news-card__wrapper" href="/article.html">
              <div class="news-card__img">
                <img src="img/news.jpg" width="552" height="248" alt="" />
              </div>
              <div class="news-card__inner">
                <div class="news-card__info">
                  <h4 class="news-card__title subtitle">Открытие сайта</h4>
                  <time class="news-card__date" datetime="2023-05-25">25.05.2023</time>
                </div>
                <div class="news-card__stat">
                  <p class="news-card__stat-item news-card__views">5</p>
                  <p class="news-card__stat-item news-card__likes">3</p>
                </div>
              </div>
            </a>
          </article>
        </li>
        <li class="news-page__item">
          <article class="news-card">
            <a class="news-card__wrapper" href="/article.html">
              <div class="news-card__img">
                <img src="img/news.jpg" width="552" height="248" alt="" />
              </div>
              <div class="news-card__inner">
                <div class="news-card__info">
                  <h4 class="news-card__title subtitle">Открытие сайта</h4>
                  <time class="news-card__date" datetime="2023-05-25">25.05.2023</time>
                </div>
                <div class="news-card__stat">
                  <p class="news-card__stat-item news-card__views">5</p>
                  <p class="news-card__stat-item news-card__likes">3</p>
                </div>
              </div>
            </a>
          </article>
        </li>
        <li class="news-page__item">
          <article class="news-card">
            <a class="news-card__wrapper" href="/article.html">
              <div class="news-card__img">
                <img src="img/news.jpg" width="552" height="248" alt="" />
              </div>
              <div class="news-card__inner">
                <div class="news-card__info">
                  <h4 class="news-card__title subtitle">Открытие сайта</h4>
                  <time class="news-card__date" datetime="2023-05-25">25.05.2023</time>
                </div>
                <div class="news-card__stat">
                  <p class="news-card__stat-item news-card__views">5</p>
                  <p class="news-card__stat-item news-card__likes">3</p>
                </div>
              </div>
            </a>
          </article>
        </li>
      </ul>
      <div class="news-page__pagination">
        <ul class="pagination">
          <li class="pagination__arrow pagination__arrow--prev is-disabled"><a href="/article.html"></a></li>
          <li class="pagination__item is-active"><a href="/article.html">1</a></li>
          <li class="pagination__item"><a href="/article.html">2</a></li>
          <li class="pagination__item"><a href="/article.html">3</a></li>
          <li class="pagination__item">...</li>
          <li class="pagination__item"><a href="/article.html">13</a></li>
          <li class="pagination__arrow pagination__arrow--next"><a href="/article.html"></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>