<section class="order-done">
  <div class="container">
    <div class="order-done__inner">
      <div class="order-done__main">
        <div class="order-done__top">
          <div class="order-done__box">
            <img src="img/order-animation-box.svg" width="187" height="186" alt="ваш заказ" />
            <div class="order-done__truck">
              <img src="img/order-animation-truck.svg" width="186" height="186" alt="ваш заказ" />
            </div>
          </div>
          <h1 class="order-done__title order-done__title--start">Ваш заказ</h1>
        </div>

        <div class="order-done__line" style="background-image: url('img/order-animation-line.svg');"></div>
      </div>
      <div class="order-done__finish">
        <h2 class="order-done__title order-done__title--end">Заказ оформлен</h2>
        <a class="order-done__btn btn-primary" href="/login.html">Посмотреть в кабинете</a>
      </div>
    </div>
  </div>
</section>