<section class="order section">
  <div class="container">
    <ul class="order__breadcrumbs breadcrumbs">
      <li><a href="/">Главная/</a></li>
      <li>Оформление заказа</li>
    </ul>
    <div class="order__inner">
      <h1 class="order__title title">Оформление заказа</h1>
      <div class="order__form order-form">
        <form>
          <div class="order-form__inner">
            <div class="order-form__main">
              <div class="order-form__box">
                <p class="order-form__title">1. Личные данные</p>
                <div class="order-form__tabs-wrapper">
                  <div class="order-form__tabs">
                    <button class="order-form__tab is-active" data-tabs="1" type="button">Я новый покупатель</button>
                    <button class="order-form__tab" data-tabs="2" type="button">Я постоянный клиент</button>
                  </div>
                </div>
                <div class="order-form__tabs-content">
                  <div class="order-form__tabs-item is-active" data-tabs="1">
                    <div class="order-form__item">
                      <input class="order-form__input form-control" type="text" placeholder="ФИО" />
                    </div>
                    <div class="order-form__item">
                      <input class="order-form__input form-control" type="email" placeholder="Почта" />
                    </div>
                    <div class="order-form__item">
                      <input class="order-form__input form-control" type="tel" placeholder="Номер телефона" />
                    </div>
                  </div>
                </div>
                <div class="order-form__tabs-item" data-tabs="2">
                  <div class="order-form__items">
                    <div class="order-form__item">
                      <input class="order-form__input form-control is-invalid" type="text" placeholder="Логин" />
                    </div>
                    <div class="order-form__item">
                      <input class="order-form__input form-control is-invalid" type="password" placeholder="Пароль" />
                    </div>
                  </div>
                  <div class="order-form__error form-error">Неверный логин или пароль</div>
                  <div class="order-form__bottom">
                    <button class="order-form__btn btn-primary" disabled>Войти</button>
                  </div>
                </div>
              </div>
              <div class="order-form__box">
                <p class="order-form__title">2. Вариант оплаты</p>
                <div class="order-form__radios form-radio-icons">
                  <label class="form-radio-icons__item">
                    <input type="radio" name="payment" value="apple_pay" />
                    <span class="form-radio-icons__body">
                      <img src="img/apple-pay-icon.svg" width="56" height="23" alt="Apple Pay" />
                    </span>
                  </label>
                  <label class="form-radio-icons__item">
                    <input type="radio" name="payment" value="google_pay" />
                    <span class="form-radio-icons__body">
                      <img src="img/google-pay-icon.svg" width="62" height="24" alt="Google Pay" />
                    </span>
                  </label>
                  <label class="form-radio-icons__item">
                    <input type="radio" name="payment" value="visa" />
                    <span class="form-radio-icons__body">
                      <img src="img/visa-icon.svg" width="94" height="22" alt="Visa" />
                    </span>
                  </label>
                </div>
              </div>
              <div class="order-form__box">
                <p class="order-form__title">3. Способ получения</p>
                <div class="order-form__radios order-form__radios--tabs form-radio-icons">
                  <label class="form-radio-icons__item is-active" data-tabs="1">
                    <input type="radio" name="delivery" value="delivery_1" />
                    <span class="form-radio-icons__body">
                      <img src="img/delivery-icon-1.png" width="86" height="36" alt="новапошта" />
                    </span>
                  </label>
                  <label class="form-radio-icons__item" data-tabs="2">
                    <input type="radio" name="delivery" value="delivery_2" />
                    <span class="form-radio-icons__body">
                      <img src="img/delivery-icon-2.png" width="86" height="28" alt="укрпошта" />
                    </span>
                  </label>
                </div>
                <div class="order-form__radio-content is-active" data-tabs="1">
                  <div class="order-form__item">
                    <input class="order-form__input form-control" type="text" placeholder="Город" />
                  </div>
                  <div class="order-form__item">
                    <input class="order-form__input form-control" type="text" placeholder="Отделение" />
                  </div>
                </div>
                <div class="order-form__radio-content" data-tabs="2">
                  <div class="order-form__item">
                    <input class="order-form__input form-control" type="text" placeholder="Индекс" />
                  </div>
                  <div class="order-form__item">
                    <input class="order-form__input form-control" type="text" placeholder="Область" />
                  </div>
                  <div class="order-form__item">
                    <input class="order-form__input form-control" type="text" placeholder="Район" />
                  </div>
                  <div class="order-form__item">
                    <input class="order-form__input form-control" type="text" placeholder="Населенный пункт" />
                  </div>
                </div>
              </div>
              <div class="order-form__box">
                <p class="order-form__title">4. Комментарий (не обязательно)</p>
                <div class="order-form__item">
                  <input class="order-form__input form-control" type="text" placeholder="Введите комментарий" />
                </div>
                <div class="order-form__item">
                  <textarea class="form-control" rows="5" placeholder="Введите комментарий"></textarea>
                </div>
              </div>
            </div>
            <div class="order-form__finish order-finish">
              <p class="order-form__title order-form__title--center">Подтверждение покупки</p>
              <header class="order-finish__header">
                <div class="order-finish__img">
                  <img src="img/qr.png" width="76" height="72" alt="Фото товара" />
                </div>
                <div class="order-finish__info">
                  <p class="order-finish__name">Название товара</p>
                  <div class="order-finish__table">
                    <table>
                      <tbody>
                        <tr>
                          <td>Количество:</td>
                          <td>4</td>
                        </tr>
                        <tr>
                          <td>Цена за единицу товара:</td>
                          <td>$100</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </header>
              <div class="order-finish__body">
                <div class="order-finish__promo">
                  <div class="order-finish__promo-field">
                    <input class="order-finish__promo-input is-valid" type="text" placeholder="Промокод"
                      value="SALE20" />
                    <div class="order-finish__promo-caption">Промокод найден</div>
                  </div>
                  <button class="order-finish__promo-btn btn-primary btn-primary--sm" type="button">Применить</button>
                </div>
                <div class="order-finish__table">
                  <table>
                    <tbody>
                      <tr>
                        <td>Доставка:</td>
                        <td>$0</td>
                      </tr>
                      <tr>
                        <td>Скидка:</td>
                        <td>$10</td>
                      </tr>
                      <tr>
                        <td>Промокод:</td>
                        <td>$20</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <footer class="order-finish__footer">
                <div class="order-finish__total">
                  <table>
                    <tbody>
                      <tr>
                        <td class="order-finish__total-caption">Итоговая стоимость</td>
                        <td class="order-finish__total-price">$90 <span class="order-finish__price-old">$90</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <button class="order-finish__btn btn-primary" disabled>Оформить заказ</button>
              </footer>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>