<ul class="pagination">
  <li class="pagination__arrow pagination__arrow--prev is-disabled">
    <a href="#"></a>
  </li>
  <li class="pagination__item is-active">
    <a href="#">1</a>
  </li>
  <li class="pagination__item">
    <a href="#">2</a>
  </li>
  <li class="pagination__item">
    <a href="#">3</a>
  </li>
  <li class="pagination__item">...</li>
  <li class="pagination__item">
    <a href="#">13</a>
  </li>
  <li class="pagination__arrow pagination__arrow--next">
    <a href="#"></a>
  </li>
</ul>