<section class="reviews section">
  <div class="container">
    <div class="reviews__inner">
      <header class="reviews__header">
        <h3 class="reviews__title title">Что про нас говорят</h3>
        <a class="reviews__link" href="/reviews.html">Смотреть все</a>
      </header>
      <div class="reviews__slider splide" role="group">
        <div class="reviews__slider-inner">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide">
                <article class="reviews-card">
                  <header class="reviews-card__header">
                    <div class="reviews-card__info">
                      <p class="reviews-card__title subtitle">Фамилия Имя</p>
                      <time class="reviews-card__date" datetime="2023-05-25">25.05.2023</time>
                    </div>
                    <p class="reviews-card__rating">5.0</p>
                  </header>
                  <div class="reviews-card__text">
                    <p>Содержание Отзыв отзыва Содержание отзыва Содержание отзыва Отзыв Отзыв Содержание отзыва
                      Содержание Отзыв отзыва Содержание отзыва Содержание </p>
                  </div>
                </article>
              </li>
              <li class="splide__slide">
                <article class="reviews-card">
                  <header class="reviews-card__header">
                    <div class="reviews-card__info">
                      <p class="reviews-card__title subtitle">Фамилия Имя</p>
                      <time class="reviews-card__date" datetime="2023-05-25">25.05.2023</time>
                    </div>
                    <p class="reviews-card__rating">5.0</p>
                  </header>
                  <div class="reviews-card__text">
                    <p>Содержание Отзыв отзыва Содержание отзыва Содержание отзыва Отзыв Отзыв Содержание отзыва
                      Содержание Отзыв отзыва Содержание отзыва Содержание </p>
                  </div>
                </article>
              </li>
              <li class="splide__slide">
                <article class="reviews-card">
                  <header class="reviews-card__header">
                    <div class="reviews-card__info">
                      <p class="reviews-card__title subtitle">Фамилия Имя</p>
                      <time class="reviews-card__date" datetime="2023-05-25">25.05.2023</time>
                    </div>
                    <p class="reviews-card__rating">5.0</p>
                  </header>
                  <div class="reviews-card__text">
                    <p>Содержание Отзыв отзыва Содержание отзыва Содержание отзыва Отзыв Отзыв Содержание отзыва
                      Содержание Отзыв отзыва Содержание отзыва Содержание </p>
                  </div>
                </article>
              </li>
              <li class="splide__slide">
                <article class="reviews-card">
                  <header class="reviews-card__header">
                    <div class="reviews-card__info">
                      <h4 class="reviews-card__title subtitle">Фамилия</h4>
                      <time class="reviews-card__date" datetime="2023-05-25">25.05.2023</time>
                    </div>
                    <p class="reviews-card__rating">5.0</p>
                  </header>
                  <div class="reviews-card__text">
                    <p>Содержание Отзыв отзыва Содержание отзыва Содержание отзыва Отзыв Отзыв Содержание отзыва
                      Содержание Отзыв отзыва Содержание отзыва Содержание </p>
                  </div>
                </article>
              </li>
            </ul>
          </div>
        </div>
        <div class="splide__arrows">
          <button class="splide__arrow splide__arrow--prev">
            <svg width="11" height="46" viewBox="0 0 11 46" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9 44L3 23L9 2" stroke="#FFE661" stroke-width="4" stroke-linecap="round" />
            </svg>
          </button>
          <button class="splide__arrow splide__arrow--next">
            <svg width="11" height="46" viewBox="0 0 11 46" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 2L8 23L2 44" stroke="#FFE661" stroke-width="4" stroke-linecap="round" />
            </svg>
          </button>
        </div>
      </div>
      <div class="reviews__btn-wrapper">
        <a class="reviews__btn btn-primary" href="#">Оформить заказ на QR - Код</a>
      </div>
    </div>
  </div>
</section>