<section class="reviews-page section">
  <div class="container">
    <ul class="reviews-page__breadcrumbs breadcrumbs">
      <li><a href="./">Главная/</a></li>
      <li><a href="./product.html">Магазин/</a></li>
      <li>Отзывы</li>
    </ul>
    <div class="reviews-page__inner">
      <h1 class="reviews-page__title title">Отзывы покупателей</h1>
      <div class="reviews-page__line">
        <div class="reviews-page__rating"> <span>5.0</span> - 147 оценок товара</div>
        <div class="reviews-page__select-wrapper">
          <label class="reviews-page__select-caption" for="sortSelect">Сортировка по:</label>
          <select class="reviews-page__select form-select" id="sortSelect">
            <option value="1">По умолчанию</option>
            <option value="2">По возрастанию рейтинга</option>
            <option value="3">По убыванию рейтинга</option>
          </select>
        </div>
      </div>
      <ul class="reviews-page__list">
        <li class="reviews-page__item">
          <article class="reviews-card">
            <header class="reviews-card__header">
              <div class="reviews-card__info">
                <p class="reviews-card__title subtitle">Фамилия Имя</p>
                <time class="reviews-card__date" datetime="2023-05-25">25.05.2023</time>
              </div>
              <p class="reviews-card__rating">5.0</p>
            </header>
            <div class="reviews-card__text">
              <p>Содержание Отзыв отзыва Содержание отзыва Содержание отзыва Отзыв Отзыв Содержание отзыва
                Содержание Отзыв отзыва Содержание отзыва Содержание </p>
            </div>
          </article>
        </li>
        <li class="reviews-page__item">
          <article class="reviews-card">
            <header class="reviews-card__header">
              <div class="reviews-card__info">
                <p class="reviews-card__title subtitle">Фамилия Имя</p>
                <time class="reviews-card__date" datetime="2023-05-25">25.05.2023</time>
              </div>
              <p class="reviews-card__rating">5.0</p>
            </header>
            <div class="reviews-card__text">
              <p>Содержание Отзыв отзыва Содержание отзыва Содержание отзыва Отзыв Отзыв Содержание отзыва
                Содержание Отзыв отзыва Содержание отзыва Содержание </p>
            </div>
          </article>
        </li>
        <li class="reviews-page__item">
          <article class="reviews-card">
            <header class="reviews-card__header">
              <div class="reviews-card__info">
                <p class="reviews-card__title subtitle">Фамилия Имя</p>
                <time class="reviews-card__date" datetime="2023-05-25">25.05.2023</time>
              </div>
              <p class="reviews-card__rating">5.0</p>
            </header>
            <div class="reviews-card__text">
              <p>Содержание Отзыв отзыва Содержание отзыва Содержание отзыва Отзыв Отзыв Содержание отзыва
                Содержание Отзыв отзыва Содержание отзыва Содержание </p>
            </div>
          </article>
        </li>
        <li class="reviews-page__item">
          <article class="reviews-card">
            <header class="reviews-card__header">
              <div class="reviews-card__info">
                <p class="reviews-card__title subtitle">Фамилия Имя</p>
                <time class="reviews-card__date" datetime="2023-05-25">25.05.2023</time>
              </div>
              <p class="reviews-card__rating">5.0</p>
            </header>
            <div class="reviews-card__text">
              <p>Содержание Отзыв отзыва Содержание отзыва Содержание отзыва Отзыв Отзыв Содержание отзыва
                Содержание Отзыв отзыва Содержание отзыва Содержание </p>
            </div>
          </article>
        </li>
        <li class="reviews-page__item">
          <article class="reviews-card">
            <header class="reviews-card__header">
              <div class="reviews-card__info">
                <p class="reviews-card__title subtitle">Фамилия Имя</p>
                <time class="reviews-card__date" datetime="2023-05-25">25.05.2023</time>
              </div>
              <p class="reviews-card__rating">5.0</p>
            </header>
            <div class="reviews-card__text">
              <p>Содержание Отзыв отзыва Содержание отзыва Содержание отзыва Отзыв Отзыв Содержание отзыва
                Содержание Отзыв отзыва Содержание отзыва Содержание </p>
            </div>
          </article>
        </li>
        <li class="reviews-page__item">
          <article class="reviews-card">
            <header class="reviews-card__header">
              <div class="reviews-card__info">
                <p class="reviews-card__title subtitle">Фамилия Имя</p>
                <time class="reviews-card__date" datetime="2023-05-25">25.05.2023</time>
              </div>
              <p class="reviews-card__rating">5.0</p>
            </header>
            <div class="reviews-card__text">
              <p>Содержание Отзыв отзыва Содержание отзыва Содержание отзыва Отзыв Отзыв Содержание отзыва
                Содержание Отзыв отзыва Содержание отзыва Содержание </p>
            </div>
          </article>
        </li>
        <li class="reviews-page__item">
          <article class="reviews-card">
            <header class="reviews-card__header">
              <div class="reviews-card__info">
                <p class="reviews-card__title subtitle">Фамилия Имя</p>
                <time class="reviews-card__date" datetime="2023-05-25">25.05.2023</time>
              </div>
              <p class="reviews-card__rating">5.0</p>
            </header>
            <div class="reviews-card__text">
              <p>Содержание Отзыв отзыва Содержание отзыва Содержание отзыва Отзыв Отзыв Содержание отзыва
                Содержание Отзыв отзыва Содержание отзыва Содержание </p>
            </div>
          </article>
        </li>
        <li class="reviews-page__item">
          <article class="reviews-card">
            <header class="reviews-card__header">
              <div class="reviews-card__info">
                <p class="reviews-card__title subtitle">Фамилия Имя</p>
                <time class="reviews-card__date" datetime="2023-05-25">25.05.2023</time>
              </div>
              <p class="reviews-card__rating">5.0</p>
            </header>
            <div class="reviews-card__text">
              <p>Содержание Отзыв отзыва Содержание отзыва Содержание отзыва Отзыв Отзыв Содержание отзыва
                Содержание Отзыв отзыва Содержание отзыва Содержание </p>
            </div>
          </article>
        </li>
        <li class="reviews-page__item">
          <article class="reviews-card">
            <header class="reviews-card__header">
              <div class="reviews-card__info">
                <p class="reviews-card__title subtitle">Фамилия Имя</p>
                <time class="reviews-card__date" datetime="2023-05-25">25.05.2023</time>
              </div>
              <p class="reviews-card__rating">5.0</p>
            </header>
            <div class="reviews-card__text">
              <p>Содержание Отзыв отзыва Содержание отзыва Содержание отзыва Отзыв Отзыв Содержание отзыва
                Содержание Отзыв отзыва Содержание отзыва Содержание </p>
            </div>
          </article>
        </li>
        <li class="reviews-page__item">
          <article class="reviews-card">
            <header class="reviews-card__header">
              <div class="reviews-card__info">
                <p class="reviews-card__title subtitle">Фамилия Имя</p>
                <time class="reviews-card__date" datetime="2023-05-25">25.05.2023</time>
              </div>
              <p class="reviews-card__rating">5.0</p>
            </header>
            <div class="reviews-card__text">
              <p>Содержание Отзыв отзыва Содержание отзыва Содержание отзыва Отзыв Отзыв Содержание отзыва
                Содержание Отзыв отзыва Содержание отзыва Содержание </p>
            </div>
          </article>
        </li>
        <li class="reviews-page__item">
          <article class="reviews-card">
            <header class="reviews-card__header">
              <div class="reviews-card__info">
                <p class="reviews-card__title subtitle">Фамилия Имя</p>
                <time class="reviews-card__date" datetime="2023-05-25">25.05.2023</time>
              </div>
              <p class="reviews-card__rating">5.0</p>
            </header>
            <div class="reviews-card__text">
              <p>Содержание Отзыв отзыва Содержание отзыва Содержание отзыва Отзыв Отзыв Содержание отзыва
                Содержание Отзыв отзыва Содержание отзыва Содержание </p>
            </div>
          </article>
        </li>
        <li class="reviews-page__item">
          <article class="reviews-card">
            <header class="reviews-card__header">
              <div class="reviews-card__info">
                <p class="reviews-card__title subtitle">Фамилия Имя</p>
                <time class="reviews-card__date" datetime="2023-05-25">25.05.2023</time>
              </div>
              <p class="reviews-card__rating">5.0</p>
            </header>
            <div class="reviews-card__text">
              <p>Содержание Отзыв отзыва Содержание отзыва Содержание отзыва Отзыв Отзыв Содержание отзыва
                Содержание Отзыв отзыва Содержание отзыва Содержание </p>
            </div>
          </article>
        </li>
      </ul>
      <div class="reviews-page__pagination">
        <ul class="pagination">
          <li class="pagination__arrow pagination__arrow--prev is-disabled"><a href="#"></a></li>
          <li class="pagination__item is-active"><a href="#">1</a></li>
          <li class="pagination__item"><a href="#">2</a></li>
          <li class="pagination__item"><a href="#">3</a></li>
          <li class="pagination__item">...</li>
          <li class="pagination__item"><a href="#">13</a></li>
          <li class="pagination__arrow pagination__arrow--next"><a href="#"></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>