<section class="seo section">
  <div class="container">
    <div class="seo__inner">
      <h3 class="seo__title title">Заголовок</h3>
      <div class="seo__text">
        Текст по умолчанию свернут и отображается до 5 строк текста Текст по умолчанию свернут и отображается до 5 строк
        текста Текст по умолчанию свернут и отображается до 5 строк текста Текст по умолчанию свернут и отображается до
        5 строк текста Текст по умолчанию свернут и отображается до 5 строк текста Текст по умолчанию свернут и
        отображается до 5 строк текста Текст по умолчанию свернут и
        отобра<span class="seo__more-wrapper">...<button class="seo__btn">Смотреть далее</button>
        </span><span class="seo__text-hidden">жается до 5 строк текста Текст по умолчанию свернут и отображается до 5
          строк
          текста Текст по умолчанию свернут и отображается до 5 строк текста Текст по умолчанию свернут и отображается
          до
          5 строк текста Текст по умолчанию свернут и отображается до 5 строк текста Текст по умолчанию свернут и
          отображается до 5 строк текста Текст по умолчанию свернут Lorem ipsum dolor, sit amet consectetur
          adipisicing
          elit. Facere consectetur quaerat minus harum adipisci culpa accusantium vero hic perspiciatis odio
          cupiditate
          quis laborum, velit fugit. Pariatur velit saepe eaque aspernatur. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Omnis dolorem quae quidem cumque repudiandae asperiores eligendi repellendus non optio
          repellat amet a nisi pariatur aliquid incidunt, nihil soluta earum quisquam.
        </span>

      </div>
    </div>
  </div>
</section>