<section class="steps section">
  <div class="container">
    <div class="steps__inner">
      <h3 class="steps__title title">Этапы получения</h3>
      <ul class="steps__list">
        <li class="steps__item">
          <div class="steps__icon" style="background-image: url('img/steps-icon-1.svg');"></div>
          <p class="steps__name subtitle">Оформление</p>
          <p class="steps__text">Вы просто оформляете заказ</p>
        </li>
        <li class="steps__item">
          <div class="steps__icon" style="background-image: url('img/steps-icon-2.svg');"></div>
          <p class="steps__name subtitle">Изготовка</p>
          <p class="steps__text">Мы изготовим QR - Код в течение 1-2 дней</p>
        </li>
        <li class="steps__item steps__item--yellow">
          <div class="steps__icon" style="background-image: url('img/steps-icon-3.svg');"></div>
          <p class="steps__name subtitle">Бесплатная доставка</p>
          <p class="steps__text">Новой почтой или Укр почтой в течении 1- 2 дней</p>
        </li>
        <li class="steps__item steps__item--lg">
          <div class="steps__info">
            <p class="steps__name subtitle">Пока QR - Код едет к вам</p>
            <p class="steps__text">Вы сразу получаете доступ в кабинет и пока изготовляется Ваш qr код - Вы можете
              наполнить страницу и посмотреть как она будет выглядеть после сканирования QR - кода</p>
          </div>
          <div class="steps__img">
            <img src="img/steps.png" width="490" height="246" alt="" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>