<section class="edit">
  <div class="edit__inner">
    <ul class="edit__stats">
      <li class="edit__stats-item">
        <p class="edit__stats-title">Просмотры</p>
        <p class="edit__stats-value">12 346</p>
      </li>
      <li class="edit__stats-item">
        <p class="edit__stats-title">Зажженные свечи</p>
        <p class="edit__stats-value">12 346</p>
      </li>
      <li class="edit__stats-item">
        <p class="edit__stats-title">Зажженные свечи</p>
        <p class="edit__stats-value">153</p>
      </li>
    </ul>
    <p class="edit__link-wrapper">
      <span>Ссылка на страницу: </span>
      <a class="edit__link" target="_blank" href="https://zgadaymene.com/123456">https://zgadaymene.com/123456</a>
      <button class="edit__copy" title="Копировать ссылку">
        <span class="edit__copied">Ссылка скопирована!</span>
      </button>
    </p>
    <button class="edit__btn btn-secondary btn-secondary--xs" data-modal="modal-review">Посмотреть ваш
      отзыв</button>
    <div class="edit__main">
      <div class="edit__tabs-wrapper">
        <div class="edit__tabs">
          <button class="edit__tab is-active" data-tabs="1" type="button">Личные данные</button>
          <button class="edit__tab" data-tabs="2" type="button">Медиа контент</button>
        </div>
      </div>
      <div class="edit__content">
        <div class="edit__content-item is-active" data-tabs="1">
          <form action="#">
            <div class="edit__box">
              <p class="edit__title subtitle">Тип сайта</p>
              <div class="edit__radios">
                <label class="edit__radio form-radio">
                  <input type="radio" name="access__type" value="1" checked />
                  <span class="form-radio__element"></span>
                  <span class="edit__radio-text form-radio__text">
                    Открытый доступ
                    <span class="edit__radio-tip tip"
                      data-text="Страница будет доступна всем пользователям, которые отсканируют QR код"></span>
                  </span>
                </label>
                <label class="edit__radio edit__radio--password form-radio">
                  <input type="radio" name="access__type" value="2" />
                  <span class="form-radio__element"></span>
                  <span class="edit__radio-text form-radio__text">
                    Закрытый доступ
                    <span class="edit__radio-tip tip"
                      data-text="Страница будет доступна только тем пользователям, которые отсканируют QR код и введут пароль для доступа к информации"></span>
                  </span>
                  <input class="edit__radio-password form-control form-control--sm" placeholder="Пароль"
                    type="text"></input>
                </label>
              </div>
            </div>
            <div class="edit__box">
              <div class="edit__images">
                <div class="edit__images-item edit-img edit-img--photo">
                  <p class="edit-img__title subtitle">Фото профиля</p>
                  <div class="edit-img__inner">
                    <div class="edit-img__img">
                      <img src="img/edit-photo.svg" width="158" height="158" alt="Фото профиля" />
                    </div>
                    <div class="edit-img__buttons">
                      <label class="edit-img__btn edit-img__btn--change">
                        Изменить
                        <input class="visually-hidden" type="file" />
                      </label>
                      <button class="edit-img__btn edit-img__btn--delete" type="button">Удалить</button>
                    </div>
                  </div>
                </div>
                <div class="edit__images-item edit-img edit-img--bg">
                  <p class="edit-img__title subtitle">Фоновая картинка</p>
                  <div class="edit-img__inner">
                    <div class="edit-img__img">
                      <img src="img/edit-bg.svg" width="158" height="158" alt="Фоновая картинка" />
                    </div>
                    <div class="edit-img__buttons">
                      <label class="edit-img__btn edit-img__btn--change">
                        Изменить
                        <input class="visually-hidden" type="file" />
                      </label>
                      <button class="edit-img__btn edit-img__btn--delete" type="button">Удалить</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="edit__box">
              <div class="edit__container">
                <p class="edit__title subtitle">Информация о человеке</p>
                <div class="edit__items">
                  <div class="edit__item">
                    <input class="edit__input form-control" type="text" placeholder="ФИО" />
                  </div>
                  <label class="edit__item form-datepicker">
                    <input class="edit__input form-control form-datepicker__input" type="text"
                      placeholder="Дата рождения" />
                    <i class="form-datepicker__icon"></i>
                  </label>
                  <label class="edit__item form-datepicker">
                    <input class="edit__input form-control form-datepicker__input" type="text"
                      placeholder="Дата смерти" />
                    <i class="form-datepicker__icon"></i>
                  </label>
                </div>
                <p class="edit__caption">Прожито лет: <span>0</span></p>
              </div>
            </div>
            <div class="edit__box">
              <div class="edit__container">
                <p class="edit__title subtitle">Координаты местонахождения QR кода</p>
                <div class="edit__items edit__items--row">
                  <div class="edit__item">
                    <input class="edit__input form-control" type="number" placeholder="Широта" />
                  </div>
                  <div class="edit__item">
                    <input class="edit__input form-control" type="number" placeholder="Долгота" />
                  </div>
                </div>
              </div>
            </div>
            <div class="edit__box">
              <p class="edit__title subtitle">Описание</p>
              <div class="edit__desc">
                <div class="quill-container"></div>
              </div>
            </div>
            <div class="text-center">
              <button class="edit__btn edit__btn-save btn-primary btn-primary--sm">Сохранить</button>
            </div>
          </form>
        </div>
        <div class="edit__content-item edit-media" data-tabs="2">
          <form action="#">
            <div class="edit-media__box">
              <div class="edit-media__header">
                <p class="edit-media__title subtitle">Созданные альбомы</p>
                <div class="edit-media__buttons">
                  <label class="edit-media__btn btn-outline btn-outline--xs">
                    <input class="visually-hidden" type="file" />
                    <i class="edit-media__icon media-icon"></i>
                    Добавить медиа
                  </label>
                  <button class="edit-media__btn btn-primary btn-primary--xs" data-modal="modal-add-album">Создать
                    альбом</button>
                </div>
              </div>
              <ul class="edit-media__albums">
                <li class="edit-media__album album-card">
                  <div class="album-card__media">
                    <img src="img/media-1.jpg" width="160" height="160" alt="" />
                    <img src="img/media-2.jpg" width="150" height="150" alt="" />
                    <img src="img/media-3.jpg" width="140" height="140" alt="" />
                  </div>
                  <p class="album-card__name">Первый альбом</p>
                </li>
                <li class="edit-media__album album-card">
                  <div class="album-card__media">
                    <img src="img/media-1.jpg" width="160" height="160" alt="" />
                    <img src="img/media-2.jpg" width="150" height="150" alt="" />
                    <img src="img/media-3.jpg" width="140" height="140" alt="" />
                  </div>
                  <p class="album-card__name">Первый альбом</p>
                </li>
                <li class="edit-media__album album-card">
                  <div class="album-card__media">
                    <img src="img/media-1.jpg" width="160" height="160" alt="" />
                    <img src="img/media-2.jpg" width="150" height="150" alt="" />
                    <img src="img/media-3.jpg" width="140" height="140" alt="" />
                  </div>
                  <p class="album-card__name">Первый альбом</p>
                </li>
                <li class="edit-media__album album-card">
                  <div class="album-card__media">
                    <img src="img/media-1.jpg" width="160" height="160" alt="" />
                    <img src="img/media-2.jpg" width="150" height="150" alt="" />
                    <img src="img/media-3.jpg" width="140" height="140" alt="" />
                  </div>
                  <p class="album-card__name">Первый альбом</p>
                </li>
              </ul>
            </div>
            <div class="edit-media__header">
              <p class="edit-media__title subtitle">Список медиа</p>
            </div>
            <div class="edit-media__body">
              <ul class="edit-media__items">
                <li class="edit-media__item media-card is-active">
                  <div class="media-card__media">
                    <img src="img/media-1.jpg" width="148" height="148" alt="" />
                  </div>
                  <div class="media-card__pin"></div>
                  <div class="media-card__footer">
                    <button class="media-card__footer-btn media-card__delete" type="button">Удалить</button>
                  </div>
                </li>
                <li class="edit-media__item media-card is-active">
                  <div class="media-card__media">
                    <img src="img/media-2.jpg" width="148" height="148" alt="" />
                  </div>
                  <div class="media-card__pin"></div>
                  <div class="media-card__footer">
                    <button class="media-card__footer-btn media-card__delete" type="button">Удалить</button>
                  </div>
                </li>
                <li class="edit-media__item media-card">
                  <div class="media-card__media media-card__media--video">
                    <img src="img/media-3.jpg" width="148" height="148" alt="" />
                  </div>
                  <div class="media-card__pin"></div>
                  <div class="media-card__footer">
                    <button class="media-card__footer-btn media-card__delete" type="button">Удалить</button>
                  </div>
                </li>
                <li class="edit-media__item media-card">
                  <div class="media-card__media">
                    <img src="img/media-1.jpg" width="148" height="148" alt="" />
                  </div>
                  <div class="media-card__pin"></div>
                  <div class="media-card__footer">
                    <button class="media-card__footer-btn media-card__delete" type="button">Удалить</button>
                  </div>
                </li>
                <li class="edit-media__item media-card is-active">
                  <div class="media-card__media">
                    <img src="img/media-2.jpg" width="148" height="148" alt="" />
                  </div>
                  <div class="media-card__pin"></div>
                  <div class="media-card__footer">
                    <button class="media-card__footer-btn media-card__delete" type="button">Удалить</button>
                  </div>
                </li>
              </ul>
              <div class="edit-media__more-wrapper">
                <button class="edit-media__more" type="button">Показать ещё</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>