<section class="public">
  <div class="container">
    <div class="public__inner">
      <header class="public__header">
        <div class="public__bg" style="background-image: url('img/public-bg.jpg');">
          <a class="public__bg-btn" href="#">
            <i class="map-white-icon"></i>
            Расположение на карте
          </a>
        </div>
        <div class="public__box">
          <div class="public__box-left">
            <div class="public__avatar">
              <img src="img/media-1.jpg" width="180" height="180" alt="Фото Ивана" />
            </div>
            <div class="public__info">
              <p class="public__name">Иванов Иван Иванович</p>
              <p class="public__dates">01.01.2000 - 01.01.2000</p>
              <p class="public__years">Прожито лет: <span>60</span></p>
              <a class="public__btn btn-primary btn-primary--xs" href="#">
                <i class="map-icon"></i>
                Расположение на карте
              </a>
            </div>
          </div>
          <div class="public__box-right">
            <div class="public__candle-info">
              <p class="public__timer timer" data-start-date="March 20, 2024 12:00:00"
                data-end-date="March 23, 2024 12:00:00">01:23:35:45</p>
              <button class="public__candle-btn">Згадую</button>
            </div>
            <div class="public__candle-icon">
              <div class="public__candle-animation"></div>
            </div>
          </div>
        </div>
      </header>
      <div class="public__body">
        <div class="public__albums">
          <p class="public__title subtitle">Сохраненные альбомы</p>
          <div class="public__slider splide" role="group">
            <div class="public__slider-inner">
              <div class="splide__track">
                <ul class="splide__list">
                  <li class="splide__slide album-card">
                    <div class="album-card__media">
                      <img src="img/media-1.jpg" width="160" height="160" alt="" />
                      <img src="img/media-2.jpg" width="160" height="160" alt="" />
                      <img src="img/media-3.jpg" width="160" height="160" alt="" />
                    </div>
                    <p class="album-card__name">Первый альбом</p>
                  </li>
                  <li class="splide__slide album-card">
                    <div class="album-card__media">
                      <img src="img/media-1.jpg" width="160" height="160" alt="" />
                      <img src="img/media-2.jpg" width="160" height="160" alt="" />
                      <img src="img/media-3.jpg" width="160" height="160" alt="" />
                    </div>
                    <p class="album-card__name">Первый альбом</p>
                  </li>
                  <li class="splide__slide album-card">
                    <div class="album-card__media">
                      <img src="img/media-1.jpg" width="160" height="160" alt="" />
                      <img src="img/media-2.jpg" width="160" height="160" alt="" />
                      <img src="img/media-3.jpg" width="160" height="160" alt="" />
                    </div>
                    <p class="album-card__name">Первый альбом</p>
                  </li>
                  <li class="splide__slide album-card">
                    <div class="album-card__media">
                      <img src="img/media-1.jpg" width="160" height="160" alt="" />
                      <img src="img/media-2.jpg" width="160" height="160" alt="" />
                      <img src="img/media-3.jpg" width="160" height="160" alt="" />
                    </div>
                    <p class="album-card__name">Первый альбом</p>
                  </li>
                  <li class="splide__slide album-card">
                    <div class="album-card__media">
                      <img src="img/media-1.jpg" width="160" height="160" alt="" />
                      <img src="img/media-2.jpg" width="160" height="160" alt="" />
                      <img src="img/media-3.jpg" width="160" height="160" alt="" />
                    </div>
                    <p class="album-card__name">Первый альбом</p>
                  </li>
                  <li class="splide__slide album-card">
                    <div class="album-card__media">
                      <img src="img/media-1.jpg" width="160" height="160" alt="" />
                      <img src="img/media-2.jpg" width="160" height="160" alt="" />
                      <img src="img/media-3.jpg" width="160" height="160" alt="" />
                    </div>
                    <p class="album-card__name">Первый альбом</p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="splide__arrows">
              <button class="splide__arrow splide__arrow--prev">
                <svg width="11" height="46" viewBox="0 0 11 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 2L3 23L9 44" stroke="#575965" stroke-width="4" stroke-linecap="round" />
                </svg>
              </button>
              <button class="splide__arrow splide__arrow--next">
                <svg width="11" height="46" viewBox="0 0 11 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2 2L8 23L2 44" stroke="#575965" stroke-width="4" stroke-linecap="round" />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="public__content">
          <div class="public__tabs">
            <button class="public__tab is-active" data-tabs="1">Описание</button>
            <button class="public__tab" data-tabs="2">Воспоминания</button>
            <button class="public__tab" data-tabs="3">Дань уважения</button>
          </div>
          <div class="public__tabs-content">
            <div class="public__content-item is-active" data-tabs="1">
              <div class="public-desc">
                <div class="public-desc__text">
                  <p>И нет сомнений, что некоторые особенности внутренней политики превращены в посмешище, хотя само их
                    существование приносит несомненную пользу обществу. Каждый из нас понимает очевидную вещь:
                    синтетическое тестирование требует определения и уточнения кластеризации усилий. В целом, конечно,
                    реализация намеченных плановых заданий позволяет оценить значение стандартных подходов.</p>
                </div>
              </div>
            </div>
            <div class="public__content-item" data-tabs="2">
              <div class="public-gallery">
                <ul class="public-gallery__list">
                  <li class="public-gallery__item">
                    <div class="public-gallery__media">
                      <img src="img/public-1.jpg" width="368" height="368" alt="" />
                    </div>
                  </li>
                  <li class="public-gallery__item">
                    <div class="public-gallery__media">
                      <img src="img/public-2.jpg" width="368" height="368" alt="" />
                    </div>
                    <div class="public-gallery__controls">
                      <div class="public-gallery__pin"></div>
                    </div>
                  </li>
                  <li class="public-gallery__item">
                    <div class="public-gallery__media public-gallery__media--video">
                      <img src="img/public-3.jpg" width="368" height="368" alt="" />
                    </div>
                    <div class="public-gallery__controls">
                      <div class="public-gallery__play"></div>
                      <div class="public-gallery__pin"></div>
                    </div>
                  </li>
                  <li class="public-gallery__item">
                    <div class="public-gallery__media">
                      <img src="img/public-1.jpg" width="368" height="368" alt="" />
                    </div>
                  </li>
                  <li class="public-gallery__item">
                    <div class="public-gallery__media">
                      <img src="img/public-1.jpg" width="368" height="368" alt="" />
                    </div>
                  </li>
                  <li class="public-gallery__item">
                    <div class="public-gallery__media">
                      <img src="img/public-2.jpg" width="368" height="368" alt="" />
                    </div>
                  </li>
                  <li class="public-gallery__item">
                    <div class="public-gallery__media public-gallery__media--video">
                      <img src="img/public-3.jpg" width="368" height="368" alt="" />
                    </div>
                    <div class="public-gallery__controls">
                      <div class="public-gallery__play"></div>
                    </div>
                  </li>
                  <li class="public-gallery__item">
                    <div class="public-gallery__media">
                      <img src="img/public-1.jpg" width="368" height="368" alt="" />
                    </div>
                  </li>
                  <li class="public-gallery__item">
                    <div class="public-gallery__media">
                      <img src="img/public-2.jpg" width="368" height="368" alt="" />
                    </div>
                  </li>
                </ul>
                <div class="public-gallery__more-wrapper">
                  <button class="public-gallery__more btn-primary btn-primary--xs">Показать еще</button>
                </div>
              </div>
            </div>
            <div class="public__content-item" data-tabs="3">
              <div class="public-reviews">
                <button class="public-reviews__btn btn-outline btn-outline--xs" data-modal="modal-add-review">
                  <i class="edit-icon"></i>
                  Написать отклик
                </button>
                <ul class="public-reviews__list">
                  <li class="public-reviews__item">
                    <p class="public-reviews__name">Фамилия Имя</p>
                    <p class="public-reviews__date"><time datetime="2023-05-25">25.05.2023</time></p>
                    <div class="public-reviews__text">
                      <p>Содержание отклика Содержание отклика Содержание отклика Содержание отклика Содержание отклика
                        Содержание отклика Содержание отклика Содержание отклика Содержание отклика Содержание отклика
                      </p>
                    </div>
                    <button class="public-reviews__toggle" data-text="Посмотреть ответ"
                      data-expanded-text="Скрыть ответ"></button>
                    <div class="public-reviews__answer">
                      <div class="public-reviews__answer-inner">
                        <p class="public-reviews__name">Фамилия Имя</p>
                        <p class="public-reviews__date"><time datetime="2023-05-25">25.05.2023</time></p>
                        <div class="public-reviews__text">
                          <p>Содержание отклика Содержание отклика Содержание отклика Содержание отклика Содержание
                            отклика
                            Содержание отклика Содержание отклика Содержание отклика Содержание отклика Содержание
                            отклика
                          </p>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="public-reviews__item">
                    <p class="public-reviews__name">Фамилия Имя</p>
                    <p class="public-reviews__date"><time datetime="2023-05-25">25.05.2023</time></p>
                    <div class="public-reviews__text">
                      <p>Содержание отклика Содержание отклика Содержание отклика Содержание отклика Содержание отклика
                        Содержание отклика Содержание отклика Содержание отклика Содержание отклика Содержание отклика
                      </p>
                    </div>
                    <button class="public-reviews__toggle" data-text="Посмотреть ответ"
                      data-expanded-text="Скрыть ответ"></button>
                    <div class="public-reviews__answer">
                      <div class="public-reviews__answer-inner">
                        <p class="public-reviews__name">Фамилия Имя</p>
                        <p class="public-reviews__date"><time datetime="2023-05-25">25.05.2023</time></p>
                        <div class="public-reviews__text">
                          <p>Содержание отклика Содержание отклика Содержание отклика Содержание отклика Содержание
                            отклика
                            Содержание отклика Содержание отклика Содержание отклика Содержание отклика Содержание
                            отклика
                          </p>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="public-reviews__item">
                    <p class="public-reviews__name">Фамилия Имя</p>
                    <p class="public-reviews__date"><time datetime="2023-05-25">25.05.2023</time></p>
                    <div class="public-reviews__text">
                      <p>Содержание отклика Содержание отклика Содержание отклика Содержание отклика Содержание отклика
                        Содержание отклика Содержание отклика Содержание отклика Содержание отклика Содержание отклика
                      </p>
                    </div>
                    <button class="public-reviews__toggle" data-text="Посмотреть ответ"
                      data-expanded-text="Скрыть ответ"></button>
                    <div class="public-reviews__answer">
                      <div class="public-reviews__answer-inner">
                        <p class="public-reviews__name">Фамилия Имя</p>
                        <p class="public-reviews__date"><time datetime="2023-05-25">25.05.2023</time></p>
                        <div class="public-reviews__text">
                          <p>Содержание отклика Содержание отклика Содержание отклика Содержание отклика Содержание
                            отклика
                            Содержание отклика Содержание отклика Содержание отклика Содержание отклика Содержание
                            отклика
                          </p>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="public-reviews__item">
                    <p class="public-reviews__name">Фамилия Имя</p>
                    <p class="public-reviews__date"><time datetime="2023-05-25">25.05.2023</time></p>
                    <div class="public-reviews__text">
                      <p>Содержание отклика Содержание отклика Содержание отклика Содержание отклика Содержание отклика
                        Содержание отклика Содержание отклика Содержание отклика Содержание отклика Содержание отклика
                      </p>
                    </div>
                    <button class="public-reviews__toggle" data-text="Посмотреть ответ"
                      data-expanded-text="Скрыть ответ"></button>
                    <div class="public-reviews__answer">
                      <div class="public-reviews__answer-inner">
                        <p class="public-reviews__name">Фамилия Имя</p>
                        <p class="public-reviews__date"><time datetime="2023-05-25">25.05.2023</time></p>
                        <div class="public-reviews__text">
                          <p>Содержание отклика Содержание отклика Содержание отклика Содержание отклика Содержание
                            отклика
                            Содержание отклика Содержание отклика Содержание отклика Содержание отклика Содержание
                            отклика
                          </p>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="public-reviews__item">
                    <p class="public-reviews__name">Фамилия Имя</p>
                    <p class="public-reviews__date"><time datetime="2023-05-25">25.05.2023</time></p>
                    <div class="public-reviews__text">
                      <p>Содержание отклика Содержание отклика Содержание отклика Содержание отклика Содержание отклика
                        Содержание отклика Содержание отклика Содержание отклика Содержание отклика Содержание отклика
                      </p>
                    </div>
                    <button class="public-reviews__toggle" data-text="Посмотреть ответ"
                      data-expanded-text="Скрыть ответ"></button>
                    <div class="public-reviews__answer">
                      <div class="public-reviews__answer-inner">
                        <p class="public-reviews__name">Фамилия Имя</p>
                        <p class="public-reviews__date"><time datetime="2023-05-25">25.05.2023</time></p>
                        <div class="public-reviews__text">
                          <p>Содержание отклика Содержание отклика Содержание отклика Содержание отклика Содержание
                            отклика
                            Содержание отклика Содержание отклика Содержание отклика Содержание отклика Содержание
                            отклика
                          </p>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class="public-reviews__more-wrapper">
                  <button class="public-reviews__more btn-primary btn-primary--xs">Показать еще</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>