<section class="qr">
  <div class="container">
    <div class="qr__inner">
      <div class="qr__header">
        <h1 class="qr__title subtitle">Мои QR - Коды</h1>
        <a class="qr__btn btn-primary" href="#">Купить еще QR - Код</a>
      </div>
      <ul class="qr__list">
        <li class="qr__item">
          <article class="qr-card">
            <div class="qr-card__body">
              <div class="qr-card__img">
                <img src="img/qr-avatar.jpg" width="56" height="56" alt="Фото" />
              </div>
              <div class="qr-card__info">
                <p class="qr-card__name">Иванов Иван Иванович</p>
                <div class="qr-card__table">
                  <table>
                    <tbody>
                      <tr>
                        <td>ID 123456</td>
                        <td>
                          <span>Создано: </span>01.01.2000
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="qr-card__hidden" aria-hidden="true">
                  <div class="qr-card__table">
                    <table>
                      <tbody>
                        <td>Годы жизни:</td>
                        <td>01.01.2000 - 02.01.2000</td>
                        </tr>
                        <tr>
                          <td>Страница:</td>
                          <td>
                            <a href="zgadaymene.com/123456">zgadaymene.com/123456</a>
                          </td>
                        </tr>
                        <tr>
                          <td>Просмотры:</td>
                          <td>1234</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <button class="qr-card__toggle" aria-expanded="false" title="Развернуть"
                  aria-label="Развернуть"></button>
              </div>
            </div>
            <div class="qr-card__buttons">
              <a class="qr-card__btn qr-card__btn--see" href="./public.html" title="Посмотреть"></a>
              <a class="qr-card__btn qr-card__btn--edit" href="./edit.html" title="Редактировать"></a>
              <button class="qr-card__btn qr-card__btn--review" title="Оставить отзыв"
                data-modal="modal-add-review"></button>
            </div>
          </article>
        </li>
        <li class="qr__item">
          <article class="qr-card">
            <div class="qr-card__body">
              <div class="qr-card__img">
                <img src="img/qr-avatar.jpg" width="56" height="56" alt="Фото" />
              </div>
              <div class="qr-card__info">
                <p class="qr-card__name">Иванов Иван Иванович</p>
                <div class="qr-card__table">
                  <table>
                    <tbody>
                      <tr>
                        <td>ID 123456</td>
                        <td>
                          <span>Создано: </span>01.01.2000
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="qr-card__hidden" aria-hidden="true">
                  <div class="qr-card__table">
                    <table>
                      <tbody>
                        <td>Годы жизни:</td>
                        <td>01.01.2000 - 02.01.2000</td>
                        </tr>
                        <tr>
                          <td>Страница:</td>
                          <td>
                            <a href="zgadaymene.com/123456">zgadaymene.com/123456</a>
                          </td>
                        </tr>
                        <tr>
                          <td>Просмотры:</td>
                          <td>1234</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <button class="qr-card__toggle" aria-expanded="false" title="Развернуть"
                  aria-label="Развернуть"></button>
              </div>
            </div>
            <div class="qr-card__buttons">
              <a class="qr-card__btn qr-card__btn--see" href="./public.html" title="Посмотреть"></a>
              <a class="qr-card__btn qr-card__btn--edit" href="./edit.html" title="Редактировать"></a>
              <button class="qr-card__btn qr-card__btn--review" title="Оставить отзыв"
                data-modal="modal-add-review"></button>
            </div>
          </article>
        </li>
        <li class="qr__item">
          <article class="qr-card">
            <div class="qr-card__body">
              <div class="qr-card__img"></div>
              <div class="qr-card__info">
                <p class="qr-card__name">
                  -------</p>
                <div class="qr-card__table">
                  <table>
                    <tbody>
                      <tr>
                        <td>ID 123456</td>
                        <td>
                          <span>Создано: </span>01.01.2000
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="qr-card__hidden" aria-hidden="true">
                  <div class="qr-card__table">
                    <table>
                      <tbody>
                        <td>Годы жизни:</td>
                        <td>
                          -------</td>
                        </tr>
                        <tr>
                          <td>Страница:</td>
                          <td>
                            <a href="zgadaymene.com/123456">zgadaymene.com/123456</a>
                          </td>
                        </tr>
                        <tr>
                          <td>Просмотры:</td>
                          <td>1234</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <button class="qr-card__toggle" aria-expanded="false" title="Развернуть"
                  aria-label="Развернуть"></button>
              </div>
            </div>
            <div class="qr-card__buttons">
              <a class="qr-card__btn qr-card__btn--see" href="./public.html" title="Посмотреть"></a>
              <a class="qr-card__btn qr-card__btn--edit" href="./edit.html" title="Редактировать"></a>
              <button class="qr-card__btn qr-card__btn--review" title="Оставить отзыв"
                data-modal="modal-add-review"></button>
            </div>
          </article>
        </li>
        <li class="qr__item">
          <article class="qr-card">
            <div class="qr-card__body">
              <div class="qr-card__img"></div>
              <div class="qr-card__info">
                <p class="qr-card__name">
                  -------</p>
                <div class="qr-card__table">
                  <table>
                    <tbody>
                      <tr>
                        <td>ID 123456</td>
                        <td>
                          <span>Создано: </span>01.01.2000
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="qr-card__hidden" aria-hidden="true">
                  <div class="qr-card__table">
                    <table>
                      <tbody>
                        <td>Годы жизни:</td>
                        <td>
                          -------</td>
                        </tr>
                        <tr>
                          <td>Страница:</td>
                          <td>
                            <a href="zgadaymene.com/123456">zgadaymene.com/123456</a>
                          </td>
                        </tr>
                        <tr>
                          <td>Просмотры:</td>
                          <td>1234</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <button class="qr-card__toggle" aria-expanded="false" title="Развернуть"
                  aria-label="Развернуть"></button>
              </div>
            </div>
            <div class="qr-card__buttons">
              <a class="qr-card__btn qr-card__btn--see" href="./public.html" title="Посмотреть"></a>
              <a class="qr-card__btn qr-card__btn--edit" href="./edit.html" title="Редактировать"></a>
              <button class="qr-card__btn qr-card__btn--review" title="Оставить отзыв"
                data-modal="modal-add-review"></button>
            </div>
          </article>
        </li>
        <li class="qr__item">
          <article class="qr-card">
            <div class="qr-card__body">
              <div class="qr-card__img">
                <img src="img/qr-avatar.jpg" width="56" height="56" alt="Фото" />
              </div>
              <div class="qr-card__info">
                <p class="qr-card__name">Иванов Иван Иванович</p>
                <div class="qr-card__table">
                  <table>
                    <tbody>
                      <tr>
                        <td>ID 123456</td>
                        <td>
                          <span>Создано: </span>01.01.2000
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="qr-card__hidden" aria-hidden="true">
                  <div class="qr-card__table">
                    <table>
                      <tbody>
                        <td>Годы жизни:</td>
                        <td>01.01.2000 - 02.01.2000</td>
                        </tr>
                        <tr>
                          <td>Страница:</td>
                          <td>
                            <a href="zgadaymene.com/123456">zgadaymene.com/123456</a>
                          </td>
                        </tr>
                        <tr>
                          <td>Просмотры:</td>
                          <td>1234</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <button class="qr-card__toggle" aria-expanded="false" title="Развернуть"
                  aria-label="Развернуть"></button>
              </div>
            </div>
            <div class="qr-card__buttons">
              <a class="qr-card__btn qr-card__btn--see" href="./public.html" title="Посмотреть"></a>
              <a class="qr-card__btn qr-card__btn--edit" href="./edit.html" title="Редактировать"></a>
              <button class="qr-card__btn qr-card__btn--review" title="Оставить отзыв"
                data-modal="modal-add-review"></button>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>