<section class="responses">
  <div class="container">
    <div class="responses__inner">
      <h1 class="responses__title subtitle">Получено откликов - 141</h1>
      <ul class="responses__list">
        <li class="responses__item">
          <a class="responses__item-inner" href="./responses-open.html">
            <div class="responses__header">
              <div class="responses__info">
                <p class="responses__name">Фамилия Имя <span
                    class="responses__badge responses__badge--yellow">New</span>
                </p>
                <p class="responses__date">01.01.2000 12:12</p>
              </div>
              <div class="responses__buttons">
                <div class="responses__btn responses__arrow" title="Ответ на отклик"></div>
                <button class="responses__btn responses__delete" title="Удалить отклик"
                  data-modal="modal-response-delete"></button>
              </div>
            </div>
            <div class="responses__text">
              <p>
                Содержание отклика Содержание отклика Содержание отклика Содержание отклика Содержание отклика
                Содержание
                отклика Содержание отклика Содержание отклика Содержание отклика Содержание отклика </p>
            </div>
          </a>
        </li>
        <li class="responses__item">
          <a class="responses__item-inner" href="./responses-open.html">
            <div class="responses__header">
              <div class="responses__info">
                <p class="responses__name">Фамилия Имя <span
                    class="responses__badge responses__badge--green">Опубликованный</span>
                </p>
                <p class="responses__date">01.01.2000 12:12</p>
              </div>
              <div class="responses__buttons">
                <button class="responses__btn responses__delete" title="Удалить отклик"
                  data-modal="modal-response-delete"></button>
              </div>
            </div>
            <div class="responses__text">
              <p>
                Содержание отклика Содержание отклика Содержание отклика Содержание отклика Содержание отклика
                Содержание
                отклика Содержание отклика Содержание отклика Содержание отклика Содержание отклика </p>
            </div>
          </a>
        </li>
        <li class="responses__item">
          <a class="responses__item-inner" href="./responses-open.html">
            <div class="responses__header">
              <div class="responses__info">
                <p class="responses__name">Фамилия Имя <span
                    class="responses__badge responses__badge--red">Отклонено</span>
                </p>
                <p class="responses__date">01.01.2000 12:12</p>
              </div>
              <div class="responses__buttons">
                <button class="responses__btn responses__delete" title="Удалить отклик"
                  data-modal="modal-response-delete"></button>
              </div>
            </div>
            <div class="responses__text">
              <p>
                Содержание отклика Содержание отклика Содержание отклика Содержание отклика Содержание отклика
                Содержание
                отклика Содержание отклика Содержание отклика Содержание отклика Содержание отклика </p>
            </div>
          </a>
        </li>
        <li class="responses__item">
          <a class="responses__item-inner" href="./responses-open.html">
            <div class="responses__header">
              <div class="responses__info">
                <p class="responses__name">Фамилия Имя <span
                    class="responses__badge responses__badge--green">Опубликованный</span>
                </p>
                <p class="responses__date">01.01.2000 12:12</p>
              </div>
              <div class="responses__buttons">
                <div class="responses__btn responses__arrow" title="Ответ на отклик"></div>
                <button class="responses__btn responses__delete" title="Удалить отклик"
                  data-modal="modal-response-delete"></button>
              </div>
            </div>
            <div class="responses__text">
              <p>
                Содержание отклика Содержание отклика Содержание отклика Содержание отклика Содержание отклика
                Содержание
                отклика Содержание отклика Содержание отклика Содержание отклика Содержание отклика </p>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>