<section class="services">
  <div class="services__inner">
    <h1 class="services__title">Дополнительные услуги</h1>
    <ul class="services__list">
      <li class="services__item">
        <div class="services__img">
          <img src="img/qr-box.jpg" width="174" height="174" alt="" />
        </div>
        <div class="services__head">
          <p class="services__name">Наполнение страницы</p>
          <p class="services__price">$10</p>
        </div>
        <p class="services__text">
          Наши менеджеры сами за клиента наполняют страницу контентом. Контент предоставляет клиент
        </p>
        <button class="services__btn btn-primary">Купить</button>
      </li>
      <li class="services__item">
        <div class="services__img">
          <img src="img/qr-box.jpg" width="174" height="174" alt="" />
        </div>
        <div class="services__head">
          <p class="services__name">Видеоролик на заказ</p>
          <p class="services__price">$10</p>
        </div>
        <p class="services__text">
          Создание профессионального ролика с воспоминаниями
        </p>
        <button class="services__btn btn-primary">Купить</button>
      </li>
      <li class="services__item">
        <div class="services__img">
          <img src="img/qr-box.jpg" width="174" height="174" alt="" />
        </div>
        <div class="services__head">
          <p class="services__name">Улучшение качества фотографий и видео</p>
          <p class="services__price">$10</p>
        </div>
        <p class="services__text">
          Наши дизайнеры улучшают качество и восстанавливают фото
        </p>
        <button class="services__btn btn-primary">Купить</button>
      </li>
    </ul>
    <div class="services__history">
      <p class="services__subtitle subtitle">История покупок</p>
      <table>
        <thead>
          <tr>
            <th>Дата и время покупки</th>
            <th>Услуга</th>
            <th>Сумма оплаты</th>
            <th>Статус оплаты</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-caption="Дата и время покупки">01.01.2000 14:24</td>
            <td data-caption="Услуга">Наполнение страницы</td>
            <td data-caption="Сумма оплаты">$10</td>
            <td data-caption="Статус оплаты">В обработке</td>
          </tr>
          <tr>
            <td data-caption="Дата и время покупки">01.01.2000 14:24</td>
            <td data-caption="Услуга">Видеоролик на заказ</td>
            <td data-caption="Сумма оплаты">$10</td>
            <td data-caption="Статус оплаты">Успешно</td>
          </tr>
          <tr>
            <td data-caption="Дата и время покупки">01.01.2000 14:24</td>
            <td data-caption="Услуга">Улучшение качества фотографий и видео</td>
            <td data-caption="Сумма оплаты">$10</td>
            <td data-caption="Статус оплаты">Отклонено</td>
          </tr>
          <tr>
            <td data-caption="Дата и время покупки">01.01.2000 14:24</td>
            <td data-caption="Услуга">Наполнение страницы</td>
            <td data-caption="Сумма оплаты">$10</td>
            <td data-caption="Статус оплаты">В обработке</td>
          </tr>
          <tr>
            <td data-caption="Дата и время покупки">01.01.2000 14:24</td>
            <td data-caption="Услуга">Наполнение страницы</td>
            <td data-caption="Сумма оплаты">$10</td>
            <td data-caption="Статус оплаты">Успешно</td>
          </tr>
          <tr>
            <td data-caption="Дата и время покупки">01.01.2000 14:24</td>
            <td data-caption="Услуга">Наполнение страницы</td>
            <td data-caption="Сумма оплаты">$10</td>
            <td data-caption="Статус оплаты">Отклонено</td>
          </tr>
          <tr>
            <td data-caption="Дата и время покупки">01.01.2000 14:24</td>
            <td data-caption="Услуга">Наполнение страницы</td>
            <td data-caption="Сумма оплаты">$10</td>
            <td data-caption="Статус оплаты">В обработке</td>
          </tr>
          <tr>
            <td data-caption="Дата и время покупки">01.01.2000 14:24</td>
            <td data-caption="Услуга">Наполнение страницы</td>
            <td data-caption="Сумма оплаты">$10</td>
            <td data-caption="Статус оплаты">Успешно</td>
          </tr>
          <tr>
            <td data-caption="Дата и время покупки">01.01.2000 14:24</td>
            <td data-caption="Услуга">Наполнение страницы</td>
            <td data-caption="Сумма оплаты">$10</td>
            <td data-caption="Статус оплаты">Отклонено</td>
          </tr>
          <tr>
            <td data-caption="Дата и время покупки">01.01.2000 14:24</td>
            <td data-caption="Услуга">Наполнение страницы</td>
            <td data-caption="Сумма оплаты">$10</td>
            <td data-caption="Статус оплаты">В обработке</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>